header {
    border-top: 1px solid #787878;
    border-bottom: 1px solid #787878;
    background: linear-gradient(
        90deg,
        rgba(40, 37, 70, 1) 17%,
        rgba(45, 42, 87, 1) 22%,
        rgba(53, 49, 111, 1) 30%,
        rgba(71, 48, 100, 1) 50%,
        rgba(54, 50, 100, 1) 72%,
        rgba(70, 64, 136, 1) 86%
    );
    height: 65px;
    width: 100%;
    select {
        appearance: none;
        width: 100%;
    }

    .line-yblue {
        height: 47px;
    }

    .header-content {
        position: relative;
        flex-grow: 1;
        .header-action {
            * {
                cursor: pointer;
            }
            position: absolute;
            right: 0;
            min-width: 300px;
            padding-right: 14px;
            .btn-auth {
                text-align: center;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: 15px;
                text-transform: uppercase;
                color: #fff;
                border-radius: 5px;
            }

            .btn-signup {
                padding: 4px 14px;
                border: 1px solid #393636;
                background: linear-gradient(180deg, rgb(71 71 71 / 90%) 0%, rgba(255, 255, 255, 0) 100%);
                background-blend-mode: hue;
                box-shadow: 0px 0px 7px 0px #fff inset;
                margin-right: 8px;
            }

            .btn-signin,
            .btn-deposit {
                padding: 4px 28px;
                border: 1px solid #575757;
                background: #534ca4;
                box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
                margin-right: 19px;
            }
            .btn-deposit {
                padding: 4px 20px 4px 10px;
            }

            img {
                width: 18px;
                height: 18px;
            }
            img.noti-icon {
                margin-right: 16px;
                width: 24px;
                height: 24px;
            }
            img.chat-icon {
                margin-right: 15.6px;
            }
            img.language-icon,
            img.ava-icon {
                margin-top: -2px;
            }

            img.ava-icon {
                height: 36px;
                width: 36px;
            }
            .select-currency {
                width: 90px;
                padding: 4px 5px;
                border-radius: 2px;
                border: 1px solid #787878;
                background: linear-gradient(180deg, rgb(71 71 71 / 90%) 0%, rgba(255, 255, 255, 0) 100%);
                background-blend-mode: hue;

                img.curreny {
                    position: absolute;
                    right: 0;
                }

                select#user-money {
                    text-align: center;
                    border: none;
                    color: #fff;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14px;
                    background: inherit;
                }

                svg {
                    width: 12px;
                }
            }
        }
    }

    .header-right {
        width: 450px;
        margin-left: 19px;

        .select-right {
            width: 84px;
            border-radius: 5px;
            border: 1px solid #393636;
            background: linear-gradient(180deg, rgb(71 71 71 / 90%) 0%, rgba(255, 255, 255, 0) 100%);
            background-blend-mode: hue;
            box-shadow: 0px 0px 7px 0px #fff inset;
            padding: 2px 10px;
            select {
                flex-grow: 1;
                color: #fff;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                background: inherit;
                border: none;
            }
        }
    }

    #box-chat,
    #box-noti,
    #box-language,
    #box-ava {
        border-radius: 3px 0px 11px 11px;
        border: 1px solid #787878;
        background: #282546;
        box-shadow: -5px 2px 8px 0px rgba(0, 0, 0, 0.43);
        z-index: 100;
        .box-header {
            border-bottom: 1px solid var(--xm, #9e9e9e);
            background: #1b172f;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            padding: 16px;
            button {
                border: none;
                background-color: inherit;
                img {
                    width: 10px;
                    height: auto;
                }
            }
        }

        .list-noti,
        .list-user-online {
            overflow-y: scroll;
            margin-right: -8px;
            max-height: calc(622px);
        }

        .list-user-online::-webkit-scrollbar,
        .list-noti::-webkit-scrollbar {
            width: 5px;
            background-color: inherit;
        }

        .list-user-online::-webkit-scrollbar-thumb,
        .list-noti::-webkit-scrollbar-thumb {
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: rgb(151, 151, 151);
        }
    }

    // BOX CHAT
    #box-chat {
        width: 340px;
        position: absolute;
        top: 63px;
        right: 0;
        height: 822px;
        .list-user-online {
            .info-user:not(:first-child) {
                padding-top: 24px;
            }
            .info-user {
                .ava-user {
                    background-color: #9163ee;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .message {
                    .user-name {
                        color: #fff;
                        font-size: 15px;
                        font-weight: 600;
                        span.time {
                            color: var(--xm, #9e9e9e);
                            font-size: 13px;
                            font-weight: 300;
                        }
                    }

                    .cur-mess {
                        color: #fff;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
            }
        }
        .box-body {
            height: 700px;
        }
    }
    .box-action {
        padding: 0px 10px 20px;
        input {
            border-radius: 3px;
            border: 1px solid var(--text, #e275f9);
            background: #291a3a;
            flex-grow: 1;
            line-height: 46px;
            padding: 0 20px;
            color: #fff;
        }

        button {
            margin-left: 6px;
            padding: 13px 18px;
            border-radius: 3px;
            border: 1px solid var(--text, #e275f9);
            background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
            img {
                height: 20px;
                width: auto;
            }
        }
    }
    // BOX NOTIFICATION
    #box-noti {
        width: 340px;
        position: absolute;
        top: 63px;
        right: 0;
        height: 822px;

        .box-body {
            padding: 12px 20px 30px;
            .wrapper-title {
                border-bottom: 1px solid #9e9e9e;
                h4 {
                    color: #fff;
                    text-align: center;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    text-align: start;
                    line-height: 46px;
                    border-bottom: 2px solid #d769ee;
                    width: 50%;
                }
            }

            .list-noti {
                margin-top: 12px;

                .noti-item {
                    width: 299px;
                    height: 175px;
                    flex-shrink: 0;
                    background-color: #801c92;
                }
                .noti-item:not(:first-child) {
                    margin-top: 42px;
                }
            }
        }
    }

    // BOX LANGUAGE
    #box-language {
        width: 156px;
        border-radius: 0px 0px 6px 6px;
        background: #282546;
        top: 40px;
        right: 0;
        .language-item {
            color: #fff;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            padding: 20px;
        }
    }

    // BOX-AVA
    #box-ava {
        top: 48px;
        right: 0;
        width: 236px;
        border-radius: 0px 0px 6px 6px;
        background: #282546;
        box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.25);

        .feature-item {
            padding: 20px;
            img {
                width: 16px;
                height: 16px;
                margin-right: 12px;
            }

            h5 {
                color: #fff;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 0px;
            }

            &:hover {
                transition: 0.3s;
                background-color: #53386a;
            }
        }
    }

    #box-language,
    #box-ava {
        border: none;
        position: absolute;
    }

    #box-noti,
    #box-chat,
    #box-language,
    #box-ava {
        display: none;
    }

    #box-noti.active,
    #box-chat.active,
    #box-language.active,
    #box-ava.active {
        display: block;
    }

    @media (max-width: 1800px) {
        .header-right {
            max-width: max-content;
        }

        .header-content {
            .header-action {
                position: static;
                padding-right: 0;
                margin-left: 20px;
            }
        }
    }

    @media (max-width: 1068px) {
        .header-right {
            display: none;
        }

        .header-content {
            border-right: none;
        }

        .pc {
            display: none;
        }

        .noti-container,
        .chat-container {
            display: none;
        }

        .header-menu {
            display: none !important;
        }
    }

    @media (max-width: 576px) {
        .ava-container {
            img.ava-icon {
                width: 27px;
                height: 27px;
                margin-left: 6px !important;
            }
        }

        .header-content {
            .header-action {
                button.btn-deposit {
                    margin-left: 10px;
                    margin-right: 9px;
                }
            }
        }
    }
    @media (min-width: 577px) {
        .mobile {
            display: none !important;
        }
        .pc {
            display: block !important;
        }
    }
    @media (max-width: 576px) {
        .mobile {
            display: block !important;
        }
        .pc {
            display: none !important;
        }
    }
}
header.fixed-active {
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: 0.3s;
}
