@import "reset";
@import "font";
@import "variables";
@import "header";
@import "footer";
@import "auth";

html {
    scroll-behavior: smooth;
}

body {
    font-family: $primary-font;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
}

.container-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.line-white {
    height: 1px;
    width: 100%;
    background-color: #fff;
    opacity: 0.1;
}

.mt-12 {
    margin-top: 12px;
}

.mt-39 {
    margin-top: 39px;
}
.pl-100 {
    padding-left: 100px;
}

.text-blue {
    color: var(--1, #05e8ff);
}

.line-y {
    width: 1px;
    height: 100%;
    background-color: #fff;
}

.line-yblue {
    width: 1px;
    height: 100%;
    background: #05e8ff;
}

.text-guide {
    color: var(--xm, #9e9e9e);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
}

.container-wrapper {
    main {
        display: flex;
        height: 100%;
        background-image: url("../images/bg-main.png");
        width: 100%;

        button.btn-support {
            position: fixed;
            right: 96px;
            top: 50%;
            border: none;
            background-color: inherit;
            img {
                width: 66px;
            }
        }

        .main-fournumber {
            height: 100%;
            width: calc(100% - 340px);
            .main-content {
                margin-top: 30px;
                margin-left: 107px;
                @media (max-width: 1800px) {
                    width: 90%;
                    margin: 0 auto;
                }
            }

            // SECTION FOUR NUMBER
            section.four-number {
                margin-top: 50px;
                margin-bottom: 28px;
                .ticket-item:first-child,
                .ticket-item:last-child {
                    img {
                        max-width: 282px;
                    }
                }
                .ticket-item:nth-child(2) {
                    img {
                        max-width: 400px;
                    }
                }
                .ticket-info {
                    .ticket-title {
                        color: #fff;
                        text-align: center;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 37px;
                    }
                    button.btn__prize-buy {
                        border-radius: 5px;
                        border: 1px solid #575757;
                        background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
                        box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
                        outline: none;
                        color: #fff;
                        text-align: center;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 15px;
                        text-transform: uppercase;
                        width: 169px;
                        height: 35px;
                        box-shadow: 0px 0px 12px 0px #fff;
                    }
                }
            }

            section.instruction {
                margin: 40px 0;
                padding: 40px 0 40px 75px;
                h4,
                ul {
                    padding-left: 16px;
                    list-style-type: disc;
                    @extend .text-guide;

                    li {
                        @extend .text-guide;
                    }
                }
            }

            .spacer-instruction {
                padding-bottom: 200px;
            }
        }
    }
}

.box__support-chat.active {
    display: block;
    position: fixed;
    right: 100px;
    top: 200px;
}
.box__support-chat {
    display: none;
    width: 340px;
    border-radius: 3px 0px 11px 11px;
    border: 1px solid #787878;
    background: #fff;
    box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.43);
    .box__support-header {
        background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
        .header-top {
            padding: 16px 20px;
            img[alt="qgc-coin"] {
                width: 24px;
                height: 24px;
            }

            .icon__exit-chat {
                padding: 6px;
                border-radius: 4px;
                transition: 0.3s;
                cursor: pointer;
                img[alt="icon__exit-chat"] {
                    width: 10px;
                    height: 10px;
                }
                &:hover {
                    background-color: inherit;
                    opacity: 0.6;
                }
            }

            h5 {
                color: #fff;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
            }
        }
        p:fisrt-child {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
    .box__support-body {
        padding: 10px 20px 33px;
        textarea {
            padding: 5px 7px;
            border-radius: 6px;
            border: 1px solid var(--xm, #9e9e9e);
            font-size: 13px;
            font-weight: 400;
            line-height: 17px;
            width: 100%;
            color: #000;
            height: 112px;
            resize: none;
            overflow-y: hidden;
        }
        textarea::placeholder {
            color: var(--xm, #9e9e9e);
            font-size: 13px;
            font-style: italic;
            font-weight: 400;
            line-height: 17px;
        }
        .select-language {
            h5 {
                color: var(--xm, #9e9e9e);
                text-align: right;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 17px;
            }

            .list-language {
                margin-top: 8px;
                row-gap: 12px;
                column-gap: 14px;
                .language-item {
                    color: #4baf87;
                    background-color: #e5ffee;
                    padding: 6px 10px;
                    border-radius: 6px;
                }
            }
        }
    }
}

.box__spin-overlay.active,
.box__quest-overlay.active,
.box__refer-overlay.active {
    display: block;
}

.box__spin-overlay,
.box__quest-overlay,
.box__refer-overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 1, 1, 0.5);
    z-index: 1000;
    cursor: pointer;
}

#box-spin {
    width: 1200px;
    position: absolute;
    top: 100px;
    z-index: 1200;
    left: calc(50% - 600px);
    .box-item {
        border-right: 1px solid #807f7f;
    }
    .box-item {
        padding: 8px 11px 13px;
        background: #291a3a;
        .icon__exit-spinbox {
            width: fit-content;
            padding: 6px;
            border-radius: 4px;
            transition: 0.3s;
            cursor: pointer;
            img[alt="icon__exit-spinbox"] {
                width: 10px;
                height: 10px;
            }
            &:hover {
                background-color: inherit;
                opacity: 0.6;
            }
        }
        .box-content {
            .list-prize {
                border-radius: 3px;
                padding: 5px 8px;
                width: 230px;
                background-color: #1b172f;
                img {
                    width: 64px;
                }
            }
            .spin-main {
                background: url("../images/spin-large.png") no-repeat;
                max-width: 266px;
                width: 266px;
                height: 266px;
                .spin-center {
                    img {
                        width: 60px;
                    }
                }
            }
            .btn__group-actions {
                width: 100%;
                margin-top: 15px;
                padding: 0 18px;
                button {
                    width: 147px;
                    padding: 4px 11px 7px;
                    border: none;
                    border-radius: 3px;
                    border: 1px solid #575757;
                    box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
                    text-align: center;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    text-transform: capitalize;
                }
                button.btn__spin-lucky {
                    color: #fff;
                    background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
                }
                button.btn__spin-auto {
                    color: #1b172f;
                    background: linear-gradient(180deg, #ffa800 0%, rgba(255, 199, 0, 0.96) 100%);
                }
            }
            .box-user {
                margin-top: 10px;
                border-radius: 3px;
                background: #1b172f;
                padding: 20px 6px;

                .user-ava {
                    margin-left: 20px;
                    margin-right: 18px;
                    img {
                        width: 100%;
                        max-width: 36px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .user-info {
                    padding-right: 20px;
                    font-size: 13px;
                    font-style: normal;
                    line-height: 15px;
                    text-transform: capitalize;

                    h5.name {
                        font-weight: 400;
                        color: #f5f5f5;
                        font-size: 15px;
                    }
                    p {
                        margin-bottom: 0;
                        color: var(--xm, #9e9e9e);
                        font-weight: 400;
                        text-transform: capitalize;
                        strong {
                            margin-left: 6px;
                        }
                    }
                    p.win {
                        strong {
                            color: #05e8ff;
                        }
                    }
                    p.lucky {
                        strong {
                            color: #e275f9;
                        }
                    }
                }
            }
        }
    }
}

#box-quest {
    width: 1166px;
    position: absolute;
    top: 100px;
    z-index: 1200;
    left: calc(50% - 583px);

    .box-item {
        border-radius: 6px;
        border: 0.5px solid var(--xm, #9e9e9e);
        background: #291a3a;

        .box-header {
            padding: 13px 23px;
            img {
                transition: 0.3s;
                &:hover {
                    background-color: inherit;
                    opacity: 0.6;
                }
            }
        }

        .box-body {
            .main-content {
                background: url("../images/questhub.png") no-repeat;
                width: 100%;
                background-size: cover;

                .info {
                    padding-left: 54px;
                    padding-top: 8px;

                    h3 {
                        color: #fff;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 31px;
                    }

                    p {
                        color: #ffc700;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 31px;
                        margin: 0;
                    }

                    .money {
                        img {
                            width: 22px;
                            height: 22px;
                        }

                        span {
                            color: #fff;
                            font-size: 15px;
                            font-style: italic;
                            font-weight: 500;
                            line-height: 31px;
                        }
                    }

                    button.btn-previous {
                        margin-top: 13px;
                        border-radius: 3px;
                        background: var(--ch-tin, #ffc700);
                        color: #000;
                        text-align: center;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 22.5px;
                        width: 183px;
                        height: 38px;
                        border: none;
                        margin-bottom: 26px;
                    }
                }
            }

            .detail-quest {
                ul {
                    li.nav-item {
                        width: 50%;
                        button {
                            width: 100%;
                            color: #fff;
                            border: none;
                            border-radius: unset;
                        }

                        button.active {
                            background-color: inherit;
                            border-bottom: 2px solid #d769ee;
                            font-weight: 600;
                        }
                    }
                }

                .tab-content {
                    border-top: 1px solid #9e9e9e;
                    .tab-pane {
                        padding: 8px 42px 8px 26px;
                        h5 {
                            color: var(--xm, #9e9e9e);
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 15px;
                            text-transform: capitalize;
                            strong {
                                color: #fff;
                                font-weight: 500;
                            }
                        }

                        .list-task {
                            margin-top: 19px;
                            .task-item:not(:last-child) {
                                margin-bottom: 15px;
                            }
                            .task-item {
                                .task-info {
                                    img {
                                        margin-right: 19px;
                                    }
                                    p {
                                        margin-bottom: 0;
                                        margin-top: 5px;
                                        color: #979698;
                                        font-size: 13px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 16px;
                                    }
                                    p.earn {
                                        margin-top: 3px;
                                        color: var(--ch-tin, #ffc700);
                                        font-weight: 500;
                                        line-height: 19px;
                                    }

                                    h6 {
                                        color: #f5f5f5;
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 15px;
                                    }
                                }

                                button.btn-go {
                                    width: 176px;
                                    height: 34px;
                                    color: #f5f5f5;
                                    text-align: center;
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 22.5px;
                                    border: none;
                                    border-radius: 3px;
                                    background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#box-refer {
    background: #291a3a;
    width: 400px;
    position: absolute;
    top: 100px;
    z-index: 1200;
    left: calc(50% - 200px);

    .box-item {
        .box-header {
            padding: 19px 18px;

            img {
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: inherit;
                    opacity: 0.6;
                }
            }
        }

        .box-body {
            .main-img {
                width: 100%;
                position: relative;
                h4 {
                    position: absolute;
                    top: 40px;
                    left: 18px;
                    color: #fff;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 23px;
                    text-transform: uppercase;
                    max-width: 240px;

                    a {
                        color: var(--ch-tin, #ffc700);
                    }
                }
            }

            .main-content {
                padding: 11px 18px;
                a {
                    color: var(--xm, #9e9e9e);
                    text-align: center;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 15px;
                    text-decoration-line: underline;
                    text-transform: capitalize;
                }

                .link-share {
                    margin-top: 33px;
                    p {
                        color: var(--xm, #9e9e9e);
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 15px;
                        text-transform: capitalize;
                        margin-bottom: 5px;
                    }
                    .share-value {
                        border-radius: 3px;
                        background: #1b172f;
                        padding: 12px 12px 12px 9px;
                        input,
                        img {
                            cursor: pointer;
                        }
                        img {
                            width: 18px;
                        }
                        input {
                            border: none;
                            outline: none;
                            background-color: inherit;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

#box__user-info,
#box__user-detail,
#box__edit-username {
    position: absolute;
    border-radius: 3px;
    background: #291a3a;
    z-index: 100;
    width: 546px;
}

#box__user-detail,
#box__user-info {
    .box-header {
        padding: 18px 25px;
        background-color: inherit;
        font-size: 15px;
        .header-action {
            svg {
                margin-right: 10px;
                transform: rotate(90deg);
                width: 20px;
                height: 10px;
            }
        }
        button {
            border: none;
            background-color: inherit;

            &:hover {
                opacity: 0.6;
            }
        }
    }
    .user-statis {
        border-radius: 3px;
        background: #1b172f;
        margin: 19px 18px 36px;
        padding: 16px;
        button {
            border: none;
            background-color: inherit;
            color: #e275f9;
            svg {
                margin-left: 10px;
                transform: rotate(-90deg);
            }
        }

        .summary-total {
            margin-top: 12px;

            .total-win,
            .total-play {
                flex-grow: 1;
                border-radius: 3px;
                background: #000;
                padding: 12px 45px 45px;
                h5 {
                    color: var(--xm, #9e9e9e);
                    text-align: center;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 15px;
                    text-transform: capitalize;
                }

                span {
                    margin-top: 14px;
                    color: var(--text, #e275f9);
                    text-align: center;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 15px;
                    text-transform: capitalize;
                }
            }
            .total-win {
                margin-right: 5px;
            }
            .total-play {
                margin-left: 5px;
            }
        }
    }
}

#box__user-info {
    left: 200px;
    top: 100px;
    .user-info {
        position: relative;
        button.btn__edit-info {
            width: 24px;
            right: 21px;
            position: absolute;
            border: none;
            border-radius: 6px;
            border: 0.5px solid var(--xm, #9e9e9e);
            background: var(--xm, #9e9e9e);
            height: max-content;
        }

        .info-main {
            img {
                border-radius: 50%;
                border: 2px solid var(--text, #e275f9);
                width: 70px;
            }

            h5 {
                margin-top: 14px;
                color: var(--text, #e275f9);
                font-size: 15px;
                font-weight: 700;
                line-height: 15px;
                text-transform: capitalize;
            }
            span {
                color: #f5f5f5;
                font-size: 13px;
                text-transform: capitalize;
            }
        }
    }

    .user-statis {
        margin-top: 52px;
    }
}

#box__user-detail {
    top: 100px;
    left: 800px;
    .box-header {
        padding: 18px 25px;
        background-color: inherit;
        .header-action {
            svg {
                margin-right: 10px;
                transform: rotate(90deg);
                width: 20px;
                height: 10px;
            }
        }
        button {
            border: none;
            background-color: inherit;

            &:hover {
                opacity: 0.6;
            }
        }
    }
    .select-network {
        padding-left: 35px;
        padding-right: 50px;

        input {
            border-radius: 3px;
            border: 1px solid #393636;
            background: #1b172f;
            padding: 12px 20px;
            margin: 0 8px;
            color: #fff;
            flex-grow: 1;
        }
    }
}

#box__edit-username {
    top: 450px;
    left: 800px;
    .box-header {
        padding: 18px 25px;
        background-color: #1b172f;
        .header-action {
            svg {
                margin-right: 10px;
                transform: rotate(90deg);
                width: 20px;
                height: 10px;
            }
        }
        button {
            border: none;
            background-color: inherit;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .edit-ava {
        margin-top: 45px;
        img {
            width: 148px;
            border-radius: 147.304px;
            border: 4.209px solid var(--text, #e275f9);
        }
        button {
            border: none;
            color: #fff;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            text-transform: capitalize;
            background: #1b172f;
            padding: 0 20px;
            border-radius: 3px;
        }
    }

    form {
        padding: 82px 85px 104px 99px;
        label {
            color: var(--xm, #9e9e9e);
            font-family: Montserrat;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 31.565px;
            text-transform: capitalize;
        }

        input {
            border-radius: 3px;
            border: 1px solid var(--xm, #9e9e9e);
            background: #1b172f;
            padding: 8px 20px;
            color: #fff;
        }

        .notice {
            margin-top: 8px;
        }
        button {
            border: none;
            outline: none;
            margin-top: 70px;
            border-radius: 5px;
            border: 1px solid #575757;
            background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
            box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
            line-height: 35px;
            color: #fff;
            font-weight: 500;
            padding: 0 40px;
        }
    }
}

.btn__purple-confirm {
    border-radius: 5px;
    border: 1px solid #575757;
    background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
    box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    line-height: 35px;
    color: #fff;
    font-weight: 500;
}

.container-wrapper.active-overlay {
    background-color: rgba(2, 1, 1, 0.5);
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}
