@import "sidebar";
@import "variables";

.main-deposit {
    max-width: 1360px;
    width: 100%;
    margin-left: 22%;
    height: 2000px;
    p {
        margin: 0;
    }
    .text-15 {
        color: #fff;
        font-size: 15px;
        font-style: normal;
        line-height: 24px;
        font-weight: 400;

        @media (max-width: 576px) {
            font-size: 11px;
        }
    }
    .deposit-content {
        padding-top: 22px;
        .btn-wallet {
            background-color: $purple-dark;
            padding: 10px 17px;
            border: none;
            font-weight: 500;
        }

        .feature-content {
            padding-top: 33px;
            max-height: 720px;
            height: 100%;
            .list-feature,
            .feature-detail {
                background-color: $purple-dark;
            }
            .list-feature {
                width: 278px;
                margin-right: 11px;
                padding: 11px;
                height: max-content;
                ul {
                    li.feature-item {
                        transition: 0.3s;
                        cursor: pointer;
                        padding: 10px;
                        img {
                            width: 24px;
                            height: 24px;
                            margin-right: 10px;
                            h4 {
                                font-weight: 400;
                            }
                        }
                    }
                    li.feature-item:hover {
                        background-color: #1b172f;
                        opacity: 0.8;
                    }
                    li.feature-item.active {
                        background-color: #1b172f;
                        h4 {
                            font-weight: 600;
                        }
                    }
                    li.feature-item:last-child {
                        border-top: 1px solid #6b6b6b;
                    }
                }
            }

            .feature-detail {
                max-width: 983px;
                width: 100%;
                height: 100%;
                padding: 40px 36px;

                ul {
                    li.nav-item {
                        width: 50%;
                        button {
                            width: 100%;
                            color: #fff;
                            border: none;
                        }

                        button.active {
                            background-color: inherit;
                            border-bottom: 2px solid #d769ee;
                            font-weight: 600;
                        }
                    }
                }

                .tab-content {
                    .list-currency {
                        button.currency:last-child {
                            padding: 0 18px 2px 2px;
                            margin-left: 12px;
                        }
                        button.currency {
                            padding: 3px 12px 2px 4px;
                            border-radius: 21px;
                            border: 0.5px solid var(--text, #e275f9);
                            background: #1b172f;
                            .text-cur {
                                color: #fff;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 500;
                                @media (max-width: 576px) {
                                    font-size: 13px;
                                }
                            }
                            img {
                                width: 30px;
                                height: 30px;
                                @media (max-width: 576px) {
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                        }
                    }

                    .currency-show {
                        padding: 10px 16px;
                        margin-top: 10px;
                        border-radius: 6px;
                        border: 1px solid #393636;
                        background: #1b172f;

                        img {
                            width: 30px;
                            height: 30px;
                            margin-right: 10px;
                        }
                    }

                    .select-network {
                        @media (max-width: 576px) {
                            padding: 8px 10px;
                        }
                        border-radius: 6px;
                        border: 1px solid #393636;
                        background: #1b172f;
                        padding: 12px 20px;
                        position: relative;
                        select {
                            background-color: inherit;
                            border: none;
                            appearance: none;
                            flex-grow: 1;
                            z-index: 2;
                            position: static;
                        }

                        svg {
                            position: absolute;
                            right: 24px;
                            top: calc(50% - 5px);
                            z-index: 2;
                        }
                    }

                    .info-address {
                        padding: 14px 30px 14px 14px;
                        background: #1b172f;

                        .qr {
                            width: 168px;
                            height: 168px;
                            border-radius: 9px;
                            background: #d9d9d9;
                            margin-right: 26px;
                            color: #000;
                        }

                        .address-code {
                            flex-grow: 1;
                            .address-wrapper {
                                border-radius: 6px;
                                border: 1px solid #393636;
                                background: #000;
                                padding: 25px 20px 25px;

                                button {
                                    border-radius: 3px;
                                    background: #291a3a;
                                    border: none;
                                    padding: 0 20px;
                                    line-height: 28px;
                                }
                            }
                        }

                        @media (max-width: 576px) {
                            padding: 26px 9px 14px 13px;
                            .qr {
                                margin-right: 0;
                            }

                            .address-code {
                                width: 100%;
                                margin-top: 12px;
                                .address-wrapper {
                                    border-radius: 6px;
                                    border: 1px solid #393636;
                                    background: #000;
                                    padding: 10px 11px;

                                    button {
                                        border-radius: 3px;
                                        background: #291a3a;
                                        border: none;
                                        padding: 0 20px;
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }

                    .notice {
                        border-radius: 3px;
                        background: rgba(180, 60, 202, 0.2);
                        p {
                            padding: 18px 7px;
                            strong {
                                color: var(--text, #e275f9);
                                font: 600px;
                            }

                            @media (max-width: 576px) {
                                font-size: 9px;
                            }
                        }
                    }
                }
            }

            .transaction-detail {
                .list-button {
                    margin-bottom: 24px;
                    button {
                        display: flex;
                        align-items: center;
                        width: 164px;
                        height: 52px;
                        padding: 25px 13px 25px 20px;
                        border-radius: 3px;
                        border: 1px solid #393636;
                        background: #291a3a;
                        color: #fff;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        justify-content: space-between;
                        svg {
                            transform: rotate(-90deg);
                        }
                        margin-right: 10px;
                    }
                }
            }
        }
        .feature-content.setting {
            max-height: unset;
        }
    }
}

@media (max-width: 576px) {
    .main-deposit {
        margin-left: 0;
        height: max-content;
        margin-bottom: 300px;
        .deposit-content {
            padding-top: 0;
            button.btn-wallet {
                height: 58px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1.069px solid var(--xm, #545454);
                background: #1b172f;
                box-shadow: 0px 4.277372360229492px 4.277372360229492px 0px rgba(0, 0, 0, 0.25);
                width: 100%;
                img {
                    width: 14px;
                }
            }
            margin-bottom: 20px;
            .list-feature {
                display: none;
            }
            .feature-content {
                padding: 16px;
                .feature-detail {
                    padding: 16px;
                }

                .transaction-detail {
                    .list-button {
                        max-width: 400px;
                        row-gap: 8px;
                        column-gap: 12px;
                        flex-wrap: wrap;

                        button {
                            width: 48%;
                            margin-right: 0;
                            font-size: 11px;
                            padding: 0 12px;
                            height: 36px;
                            border-color: #393636;
                        }
                    }
                }

                section.transaction-table.detail-trans {
                    width: 100%;
                    max-width: unset;
                    background-color: unset;
                    table {
                        position: static;
                        width: 100%;
                        tr {
                            td,
                            th {
                                font-size: 11px;
                                padding: 0 3px;
                            }
                        }
                    }
                }
            }

            .notice {
                border-radius: 1.511px;
                background: rgba(180, 60, 202, 0.2);
            }
        }
    }
}
