@import "sidebar";

.main-home {
    height: 100%;

    .carousel-cell {
        .item-buy {
            min-width: 248px;
            width: 100%;
            padding: 21px 0;
            border-radius: 2px;
            border: 0.5px solid var(--xm, #9e9e9e);
            background: linear-gradient(180deg, #342363 0%, #3c0364 100%);

            img {
                width: 36px;
            }

            p {
                margin: 0;
            }
        }
    }

    .main-content {
        max-width: 1176px;
        width: 100%;
        margin-left: 22%;

        @media (max-width: 1800px) {
            width: 90%;
            margin: 0 auto;
            margin-left: 30%;
        }

        .big-prize {
            margin-top: 25px;
            .fire {
                padding: 0 12px;
                img {
                    margin-right: 8px;
                    width: 14px;
                }
                color: #fff;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
            }

            .group-big {
                margin-top: 8px;
            }
            .big-item:first-child {
                margin-right: 4px;
                img {
                    width: 25px;
                }
            }
            .big-item {
                padding: 8px 12px;
                border-radius: 3px;
                background: #291a3a;
                img {
                    width: 20px;
                    margin-right: 10px;
                }
                h3 {
                    color: #fff;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;
                    text-transform: capitalize;
                    span {
                        color: #ffc700;
                    }
                }
            }
        }

        .banner-main {
            // background-color: #1d1735;
            margin-top: 30px;
            position: relative;
            background: url("../images/wrapper-banner.png") no-repeat;

            .banner-content {
                padding: 21px 0 34.5px 53px;

                h3 {
                    color: #f5f5f5;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                    text-transform: uppercase;
                }

                h1 {
                    color: #f5f5f5;
                    text-shadow: -3px 2px 1px rgba(0, 0, 0, 0.78);
                    font-size: 66px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 75px;
                    text-transform: uppercase;
                    span {
                        color: var(--ch-tin, #ffc700);
                    }
                }

                button {
                    margin-top: 43px;
                    border-radius: 3px;
                    background: url("../images/icons/bg-signup.png"), lightgray 50% / cover no-repeat;
                    box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
                    color: #000;
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    text-transform: uppercase;
                    padding: 16px 0;
                    border: none;
                    width: 214px;
                }
            }

            img[alt="banner-home"] {
                position: absolute;
                top: 0;
                right: 0;
                width: 866px;
            }
        }

        section.feature {
            margin-top: 64px;

            img {
                max-width: 100%;
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
        }

        section.section-list-news {
            padding-bottom: 70px;
            .news-item {
                h2 {
                    width: max-content;
                    padding: 20px;
                    border-radius: 10px;
                    background: #1b172f;
                    color: #f5f5f5;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14px;
                    text-transform: uppercase;
                }
                img {
                    max-width: 261px;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .news-item:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    // MAIN EVENT
    .main-content.main-event {
        button.btn-event {
            color: #fff;
            font-size: 18px;
            font-weight: 900;
            line-height: 15px;
            text-transform: uppercase;
            background-color: inherit;
            border: none;
            margin: 33px 0 28px;

            @media (max-width: 576px) {
                margin: 20px 0;
                padding: 12px;
                border-radius: 3px;
                background: #291a3a;
                font-size: 11px;
            }
        }

        .group__btn-event {
            .btn-event {
                border-radius: 3px;
                border-radius: 3px;
                border: 0.5px solid var(--xm, #9e9e9e);
                background: #514d4d;
                line-height: 30px;
                padding: 0 16px;
                color: #fff;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                text-transform: capitalize;
                @media (max-width: 576px) {
                    margin: 12px 0;
                    font-size: 11px;
                }
            }
            .btn-event.btn-last {
                background: #291a3a;
                border: none;
            }
        }

        table {
            border-radius: 3px;
            border: 0.5px solid var(--xm, #9e9e9e);
            background: #291a3a;
            font-size: 15px;
            font-weight: 400;
            text-transform: capitalize;
            tr {
                th,
                td:first-child {
                    color: var(--1, #05e8ff);
                }

                th,
                td:not(:last-child) {
                    border-right: 1px solid #9e9e9e;
                }

                th,
                td {
                    text-align: center;
                    padding: 16px 60px;
                }
                td.status.confirm {
                    color: #74ff06;
                }
                td.status.unconfirm {
                    color: #f00;
                }
            }
            tr:not(:last-child) {
                border-bottom: 1px solid #9e9e9e;
            }
        }

        @media (max-width: 576px) {
            table {
                width: 100%;
                tr {
                    padding: 0;
                    th,
                    td {
                        font-size: 11px;
                        padding: 6px 2px;
                    }
                }
            }
        }

        .list-event {
            .event-item {
                border-radius: 3px;
                border: 0.5px solid var(--xm, #9e9e9e);
                background: #1b172f;
                .time {
                    color: var(--xm, #9e9e9e);
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 14px;
                    p {
                        margin-bottom: 0;
                    }
                }
                button {
                    width: 120px;
                    line-height: 34px;
                    color: white;
                    border-radius: 3px;
                    border: none;
                    background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
                }

                @media (max-width: 576px) {
                    .event-info {
                        padding: 0 12px;
                    }
                }
            }
        }

        button.btn-event.btn-detail {
            padding: 10px;
            border-radius: 3px;
            background: #291a3a;
            color: #f5f5f5;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
            text-transform: capitalize;
            a {
                color: #fff;
                font-weight: 500;
            }
        }

        img[alt="banner-nft"] {
            width: 897px;
            height: 395px;
            flex-shrink: 0;
        }

        .info-detail {
            max-width: 897px;
            margin-top: 32px;
            padding-bottom: 31px;
            border-bottom: 1px solid #4f4d4d;

            h4 {
                color: #fff;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 14px;
                text-transform: uppercase;
            }

            p {
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 45px;
                margin-bottom: 0;
            }

            p.time {
                color: var(--xm, #9e9e9e);
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
            }
        }
        .info-guide {
            max-width: 897px;
            .total-max {
                margin-top: 11px;
                display: flex;
                width: 418px;
                height: 65px;
                justify-content: center;
                align-items: center;
                gap: 25px;
                flex-shrink: 0;
                border-radius: 3px;
                background: #1b172f;

                span {
                    color: #fff;
                    font-family: Montserrat;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14px; /* 58.333% */
                    text-transform: uppercase;
                }

                span.total {
                    max-width: 89px;
                    line-height: 30px;
                }
                span.max {
                    color: #ffc700;
                }
            }
            .rules {
                margin-top: 23px;
                a {
                    color: #fff;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 14px;
                    text-decoration-line: underline;
                }
            }
            .text-game {
                color: var(--xm, #9e9e9e);
                text-align: center;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
            }
            .guide {
                width: 876px;
                height: 237px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
