@import "variables";
.feature-content.setting {
    max-height: unset;
}
.main-deposit .deposit-content .feature-content .feature-detail {
    padding: 0;

    .feature-header {
        border-radius: 3px;
        background: #1b172f;
        padding: 18px 34px;
    }

    .feature-body {
        padding: 33px 35px;

        .email-wrapper {
            input {
                border-radius: 3px;
                border: 1px solid var(--xm, #9e9e9e);
                background: #1b172f;
                width: 477px;
                color: var(--xm, #9e9e9e);
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                text-transform: capitalize;
                margin-top: 20px;
            }
        }

        .btn-resend {
            color: var(--text, #e275f9);
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            height: 46px;
            text-transform: capitalize;

            button {
                border-radius: 5px;
                border: 1px solid #575757;
                background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
                box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
                border: none;
                outline: none;
                color: #fff;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                padding: 6px 40px;
                margin-left: 20px;
            }
        }
    }
}
.box-change {
    width: 1107px;
    height: 448px;
    border-radius: 6px;
    background: #291a3a;
    h4 {
        color: #fff;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        text-align: start;
        width: 100%;
        padding-left: 100px;
        padding-top: 50px;
    }

    h4.desc {
        padding-top: 10px;
        font-weight: 400;
    }
    .qr {
        width: 168px;
        height: 168px;
        border-radius: 9px;
        background: #d9d9d9;
        margin-right: 26px;
        color: #000;
    }
    form {
        padding-left: 100px;
        width: 476px;
        .form-group {
            label {
                color: var(--xm, #9e9e9e);
                font-weight: 300;
                line-height: 40px;
                text-transform: capitalize;
            }

            input {
                height: 44px;
                border: none;
                background: #1b172f;
            }
        }
        button.btn-primary {
            border-radius: 5px;
            border: 1px solid #575757;
            background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
            box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
            font-size: 14px;
            font-weight: 600;
        }

        .form-group {
            position: relative;
            img[alt="show-pass"] {
                position: absolute;
                width: 34px;
                right: 10px;
                top: 45px;
            }
            img[alt="icon-copy"] {
                position: absolute;
                width: 18px;
                right: 21px;
                bottom: 13px;
            }
        }

        .btn-redirect {
            color: #e275f9;
            font-family: $primary-font;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 14.065px;
            text-transform: capitalize;
        }
    }

    .line-x {
        margin-top: 17px;
        width: 100%;
        height: 0.5px;
        background: var(--xm, #9e9e9e);
    }
    .btn-save {
        padding: 0 66px;
        margin-top: 12px;
        text-align: end;
        button {
            width: 184px;
            height: 43px;
            color: #fff;
            border-radius: 5px;
            border: 1px solid #575757;
            background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
            box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
        }
    }
}
.box-change:not(:last-child) {
    margin-bottom: 46px;
}

.box-change.two-factor {
    height: 752px;
}
.box-change.notqr {
    height: 400px;
}

.box-change.reference-box {
    height: 337px;

    .box-header {
        border-radius: 3px;
        background: #1b172f;
        height: 49px;

        h4 {
            padding: 16px 32px;
        }
    }

    h5 {
        padding: 27px 34px;
        color: var(--xm, #9e9e9e);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        text-transform: capitalize;
    }

    .line-x {
        margin-top: 0;
    }

    .content-sw {
        padding: 20px 0 30px 60px;
        .switch-item {
            img {
                width: 38px;
                height: 20px;
            }
            h4 {
                padding: 0;
            }
            h5 {
                padding: 0;
            }
        }

        .switch-item:not(:last-child) {
            padding-bottom: 16px;
        }
    }

    .btn-save {
        h5 {
            padding-left: 0;
        }
        padding: 0 42px 0 34px;
        button {
            width: 125px;
            height: 29px;
        }
    }
}

.box-change.reference-box.marketing {
    height: 219px;
}

@media (max-width: 576px) {
    .line-x {
        background: var(--xm, #3b3b3b);
    }
    .main-deposit {
        .deposit-content {
            .btn-wallet.btn-setting {
                border: none;
                width: 82px;
                height: 29px;
                line-height: 29px;
                box-shadow: unset;
                border-radius: 3px;
                background: #291a3a;
                margin-left: 16px;
                margin-top: 16px;
            }

            .feature-content {
                .feature-detail {
                    padding: 12px;
                    .feature-header {
                        position: relative;
                        width: 145px;
                        height: 30px;
                        border-radius: 3px;
                        border: 0.483px solid #393636;
                        background: #1b172f;
                        padding: 0;
                        margin-bottom: 16px;
                        padding: 0 12px;
                        svg {
                            position: absolute;
                            right: 12px;
                            top: 10px;
                            transform: rotate(-90deg);
                        }
                    }

                    .feature-body {
                        padding: 0;
                        .email-action {
                            flex-direction: column;

                            .email-wrapper {
                                width: 100%;
                                input {
                                    margin-top: 8px;
                                    width: 100%;
                                    font-size: 13px;
                                }
                            }

                            .btn-resend {
                                font-size: 11px;
                                width: 100%;
                                padding-bottom: 30px;
                                margin-top: 35px;
                                height: unset;
                                flex-direction: column;
                                button {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
            .box-change {
                padding: 0;
                width: 100%;

                h4 {
                    padding: 20px 0;
                    padding-left: 16px;
                    font-size: 11px;
                }
                form {
                    padding: 0 16px;
                    width: 100%;

                    label {
                        font-size: 11px;
                    }
                }

                .btn-save {
                    padding: 20px 0;
                    text-align: center;
                    button {
                        width: max-content;
                        font-size: 11px;
                        font-weight: 500;
                        padding: 0 20px;
                        height: 30px;
                    }
                }
            }
            .box-change.two-factor,
            .box-change {
                height: unset;
            }
            .box-change:not(:last-child) {
                margin-bottom: 22px;
            }

            .box-change.reference-box {
                border-radius: 3px;
                background: #291a3a;

                .box-header {
                    background: #291a3a;
                }
            }

            .box-change.reference-box:first-child {
                margin-bottom: 22px;

                h5 {
                    padding: 10px;
                    font-size: 11px;
                }
            }
            .box-change.reference-box:last-child {
                .box-header {
                    border-bottom: 1px solid #807f7f;
                }
            }
            .box-change.reference-box {
                height: unset;
                .content-sw {
                    padding: 15px 18px;
                }

                .btn-save {
                    h5 {
                        max-width: 156px;
                    }
                    padding: 16px 12px;
                }
            }
        }
    }
}
