@import "variables";
@import "mixin";

.transaction-table {
  margin-top: 10px !important;
  max-width: 983px;
  margin: 0 auto;
  height: auto;

  table {
    width: 100%;
    background: #291a3a;
    thead {
      tr {
        margin-top: 5px;
        background: #1b172f;
      }
      th {
        @include title-text(#fff, 15px);
        text-align: center;
        padding: 20px;
      }
    }
    tbody {
      td {
        padding: 15px;
        @include title-text(#fff, 13px);
        text-align: center;
      }

      td[th="Amount"] {
        @include title-text(#f00, 13px);
      }
    }

    tfoot {
      padding: 0 !important;
      tr {
        background-color: #000;
      }
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
          margin: 0 5px;
          width: 24px;
          height: 24px;
          border-radius: 6px;
          border: 1px solid var(--xm, #9e9e9e);
          background: #2d3035;
          color: #9e9e9e;
        }

        img {
          width: 5.71px;
          height: 6px;
          stroke-width: 1px;
          stroke: #9e9e9e;
        }
      }
    }
  }
}

.transaction-table.detail-trans {
  width: 983px;
  height: 168px;
  padding: 14px 14px 0;
  background-color: #291a3a;
  position: relative;

  table {
    width: 960px;
    height: 155px !important;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 14px;
    height: 100%;
    td.amount,
    td.status {
      color: #e275f9;
      svg {
        transform: rotate(-90deg);
      }
    }

    tfoot {
      height: 51px;
      margin: 0 -14px;
      .pagination {
        justify-content: end;
        .page {
          margin: 0 20px;
        }
      }
    }
  }

  .footer-bg {
    background-color: #000;
    width: 983px;
    height: 51px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

@media (max-width: 576px) {
  .transaction-table.transaction-table.detail-trans {
    height: 364px;
    padding: 0;
    table {
      height: 364px;
      thead {
        height: 40px;
      }
      tbody {
        tr {
          height: 80px;
        }
      }
      tfoot {
        position: relative;
        .pagination {
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }
    }
  }
}
