html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* montserrat-regular - vietnamese_latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v23-vietnamese_latin-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v23-vietnamese_latin-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v23-vietnamese_latin-ext-regular.woff2") format("woff2"), url("../fonts/montserrat-v23-vietnamese_latin-ext-regular.woff") format("woff"), url("../fonts/montserrat-v23-vietnamese_latin-ext-regular.ttf") format("truetype"), url("../fonts/montserrat-v23-vietnamese_latin-ext-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - vietnamese_latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v23-vietnamese_latin-ext-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v23-vietnamese_latin-ext-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v23-vietnamese_latin-ext-500.woff2") format("woff2"), url("../fonts/montserrat-v23-vietnamese_latin-ext-500.woff") format("woff"), url("../fonts/montserrat-v23-vietnamese_latin-ext-500.ttf") format("truetype"), url("../fonts/montserrat-v23-vietnamese_latin-ext-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - vietnamese_latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v23-vietnamese_latin-ext-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v23-vietnamese_latin-ext-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v23-vietnamese_latin-ext-600.woff2") format("woff2"), url("../fonts/montserrat-v23-vietnamese_latin-ext-600.woff") format("woff"), url("../fonts/montserrat-v23-vietnamese_latin-ext-600.ttf") format("truetype"), url("../fonts/montserrat-v23-vietnamese_latin-ext-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - vietnamese_latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v23-vietnamese_latin-ext-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v23-vietnamese_latin-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v23-vietnamese_latin-ext-700.woff2") format("woff2"), url("../fonts/montserrat-v23-vietnamese_latin-ext-700.woff") format("woff"), url("../fonts/montserrat-v23-vietnamese_latin-ext-700.ttf") format("truetype"), url("../fonts/montserrat-v23-vietnamese_latin-ext-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

header {
  border-top: 1px solid #787878;
  border-bottom: 1px solid #787878;
  background: linear-gradient(90deg, rgb(40, 37, 70) 17%, rgb(45, 42, 87) 22%, rgb(53, 49, 111) 30%, rgb(71, 48, 100) 50%, rgb(54, 50, 100) 72%, rgb(70, 64, 136) 86%);
  height: 65px;
  width: 100%;
}

header select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

header .line-yblue {
  height: 47px;
}

header .header-content {
  position: relative;
  flex-grow: 1;
  max-width: 80%;
  justify-content: space-between;
}

.img-index {
  margin-left: 250px;
}

header .header-content .header-action {
  position: absolute;
  right: 0;
  min-width: 300px;
  padding-right: 14px;
}

header .header-content .header-action * {
  cursor: pointer;
}

header .header-content .header-action .btn-auth {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
}

header .header-content .header-action .btn-signup {
  padding: 4px 14px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(71, 71, 71, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
  margin-right: 8px;
}

header .header-content .header-action .btn-signin,
header .header-content .header-action .btn-deposit {
  padding: 4px 28px;
  border: 1px solid #575757;
  background: #534ca4;
  box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  margin-right: 19px;
}

header .header-content .header-action .btn-deposit {
  padding: 4px 20px 4px 10px;
}

header .header-content .header-action img {
  width: 18px;
  height: 18px;
}

header .header-content .header-action img.noti-icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

header .header-content .header-action img.chat-icon {
  margin-right: 15.6px;
}

header .header-content .header-action img.language-icon,
header .header-content .header-action img.ava-icon {
  margin-top: -2px;
}

header .header-content .header-action img.ava-icon {
  height: 36px;
  width: 36px;
}

header .header-content .header-action .select-currency {
  width: 90px;
  padding: 4px 5px;
  border-radius: 2px;
  border: 1px solid #787878;
  background: linear-gradient(180deg, rgba(71, 71, 71, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
}

header .header-content .header-action .select-currency img.curreny {
  position: absolute;
  right: 0;
}

header .header-content .header-action .select-currency select#user-money {
  text-align: center;
  border: none;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  background: inherit;
}

header .header-content .header-action .select-currency svg {
  width: 12px;
}

header .header-right {
  width: 450px;
  margin-left: 19px;
}

header .header-right .select-right {
  width: 84px;
  border-radius: 5px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(71, 71, 71, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
  padding: 2px 10px;
}

header .header-right .select-right select {
  flex-grow: 1;
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  background: inherit;
  border: none;
}

.select-text {
  color: black;
}

header #box-chat,
header #box-noti,
header #box-language,
header #box-ava {
  border-radius: 3px 0px 11px 11px;
  border: 1px solid #787878;
  background: #282546;
  box-shadow: -5px 2px 8px 0px rgba(0, 0, 0, 0.43);
  z-index: 100;
}

header #box-chat .box-header,
header #box-noti .box-header,
header #box-language .box-header,
header #box-ava .box-header {
  border-bottom: 1px solid var(--xm, #9e9e9e);
  background: #1b172f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 16px;
}

header #box-chat .box-header button,
header #box-noti .box-header button,
header #box-language .box-header button,
header #box-ava .box-header button {
  border: none;
  background-color: inherit;
}

header #box-chat .box-header button img,
header #box-noti .box-header button img,
header #box-language .box-header button img,
header #box-ava .box-header button img {
  width: 10px;
  height: auto;
}

header #box-chat .list-noti,
header #box-chat .list-user-online,
header #box-noti .list-noti,
header #box-noti .list-user-online,
header #box-language .list-noti,
header #box-language .list-user-online,
header #box-ava .list-noti,
header #box-ava .list-user-online {
  overflow-y: scroll;
  margin-right: -8px;
  max-height: 622px;
}

header #box-chat .list-user-online::-webkit-scrollbar,
header #box-chat .list-noti::-webkit-scrollbar,
header #box-noti .list-user-online::-webkit-scrollbar,
header #box-noti .list-noti::-webkit-scrollbar,
header #box-language .list-user-online::-webkit-scrollbar,
header #box-language .list-noti::-webkit-scrollbar,
header #box-ava .list-user-online::-webkit-scrollbar,
header #box-ava .list-noti::-webkit-scrollbar {
  width: 5px;
  background-color: inherit;
}

header #box-chat .list-user-online::-webkit-scrollbar-thumb,
header #box-chat .list-noti::-webkit-scrollbar-thumb,
header #box-noti .list-user-online::-webkit-scrollbar-thumb,
header #box-noti .list-noti::-webkit-scrollbar-thumb,
header #box-language .list-user-online::-webkit-scrollbar-thumb,
header #box-language .list-noti::-webkit-scrollbar-thumb,
header #box-ava .list-user-online::-webkit-scrollbar-thumb,
header #box-ava .list-noti::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(151, 151, 151);
}

header #box-chat {
  width: 340px;
  position: absolute;
  top: 63px;
  right: 0;
  height: 822px;
}

header #box-chat .list-user-online .info-user:not(:first-child) {
  padding-top: 24px;
}

header #box-chat .list-user-online .info-user .ava-user {
  background-color: #9163ee;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

header #box-chat .list-user-online .info-user .message .user-name {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

header #box-chat .list-user-online .info-user .message .user-name span.time {
  color: var(--xm, #9e9e9e);
  font-size: 13px;
  font-weight: 300;
}

header #box-chat .list-user-online .info-user .message .cur-mess {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

header #box-chat .box-body {
  height: 700px;
}

header .box-action {
  padding: 0px 10px 20px;
}

header .box-action input {
  border-radius: 3px;
  border: 1px solid var(--text, #e275f9);
  background: #291a3a;
  flex-grow: 1;
  line-height: 46px;
  padding: 0 20px;
  color: #fff;
}

header .box-action button {
  margin-left: 6px;
  padding: 13px 18px;
  border-radius: 3px;
  border: 1px solid var(--text, #e275f9);
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
}

header .box-action button img {
  height: 20px;
  width: auto;
}

header #box-noti {
  width: 340px;
  position: absolute;
  top: 63px;
  right: 30px;
  height: 822px;
}

header #box-noti .box-body {
  padding: 12px 20px 30px;
}

header #box-noti .box-body .wrapper-title {
  border-bottom: 1px solid #9e9e9e;
}

header #box-noti .box-body .wrapper-title h4 {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  text-align: start;
  line-height: 46px;
  border-bottom: 2px solid #d769ee;
  width: 50%;
}

header #box-noti .box-body .list-noti {
  margin-top: 12px;
}

header #box-noti .box-body .list-noti .noti-item {
  width: 299px;
  height: 175px;
  flex-shrink: 0;
  background-color: #801c92;
}

header #box-noti .box-body .list-noti .noti-item:not(:first-child) {
  margin-top: 42px;
}

header #box-language {
  width: 156px;
  border-radius: 0px 0px 6px 6px;
  background: #282546;
  top: 40px;
  left: 30%;
}

header #box-language .language-item {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  padding: 20px;
}

@media(min-width: 1800px) {
  header #box-ava {
    top: 48px;
    right: 3px;
    width: 236px;
    border-radius: 0px 0px 6px 6px;
    background: #282546;
    box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.25);
  }
}

@media(max-width: 1068px) {
  header #box-ava {
    top: 48px;
    right: 5px;
    width: 236px;
    border-radius: 0px 0px 6px 6px;
    background: #282546;
    box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.25);
  }
}

header #box-ava .feature-item {
  padding: 20px;
}

header #box-ava .feature-item img {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

header #box-ava .feature-item h5 {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}

header #box-ava .feature-item:hover {
  transition: 0.3s;
  background-color: #53386a;
}

header #box-language,
header #box-ava {
  border: none;
  position: absolute;
}

header #box-noti,
header #box-chat,
header #box-language,
header #box-ava {
  display: none;
}

header #box-noti.active,
header #box-chat.active,
header #box-language.active,
header #box-ava.active {
  display: block;
}

@media (max-width: 1800px) {
  header .header-right {
    max-width: -moz-max-content;
    max-width: max-content;
  }

  header .header-content .header-action {
    position: static;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1068px) {

  header .header-right {
    display: none;
  }

  header .header-content {
    border-right: none;
  }

  header .pc {
    display: none;
  }

  header .noti-container,
  header .chat-container {
    display: none;
  }

  .img-index {
    margin-left: 0px;
  }

  header .header-menu {
    display: none !important;
  }
}

@media (max-width: 576px) {
  header .ava-container img.ava-icon {
    width: 27px;
    height: 27px;
    margin-left: 6px !important;
  }

  header .header-content .header-action button.btn-deposit {
    margin-left: 10px;
    margin-right: 9px;
  }

  .img-index {
    margin-left: 0px;
  }
}

@media (min-width: 577px) {
  header .mobile {
    display: none !important;
  }

  header .pc {
    display: block !important;
  }
}

@media (max-width: 576px) {
  header .mobile {
    display: block !important;
  }

  header .pc {
    display: none !important;
  }

  .img-index {
    margin-left: 0px;
  }
}

header.fixed-active {
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.3s;
}

footer {
  width: 100%;
  border-radius: 6px;
  border-top: 1px solid var(--xm, #9e9e9e);
  background: #291a3a;
}

footer h2,
footer h3,
footer h4,
footer h5 {
  font-weight: 700;
}

footer p {

  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
}

footer .copy-right {
  padding: 18px 0 30px;
  font-size: 12px;
}

footer .footer-content {
  width: 1274px;
  margin-left: 340px;
}

@media (max-width: 1800px) {
  footer .footer-content {
    width: 100%;
    margin: auto;
  }
}

footer .footer-content h4 {
  font-size: 24px;
  font-style: normal;
  line-height: 72px;
}

footer .footer-content .img-box {
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  border-radius: 6px;
  border: 0.5px solid var(--xm, #9e9e9e);
}

footer .footer-content .img-box img {
  max-width: 129px;
  width: 100%;
  padding: 12px 8px 0;
}

footer .footer-content .img-box h5 {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  line-height: 34px;
  text-transform: uppercase;
}

footer .footer-content .footer-contact {
  padding-top: 29px;
  width: 80%;
  margin: auto;
}

footer .footer-content .footer-contact .line-y {
  height: 260px;
}

footer .footer-content .footer-contact .follow-contact {
  padding-left: 80px;
  padding-right: 16px;
}

footer .footer-content .footer-contact .follow-contact h4 {
  font-size: 24px;
  font-style: normal;
  line-height: 36px;
}

footer .footer-content .footer-contact .follow-contact h4.hd-email {
  margin-top: 58px;
  margin-bottom: 24px;
}

footer .footer-content .footer-contact .follow-contact .list-social {
  margin-top: 42px;
}

footer .footer-content .footer-contact .follow-contact .list-social .social-item {
  border-radius: 50%;
  padding: 15px;
  background-color: #e24dff;
}

footer .footer-content .footer-contact .follow-contact .list-social .social-item img {
  width: 23px;
  height: auto;
}

footer .footer-content .footer-contact .follow-contact .list-social .social-item:not(:first-child) {
  margin-left: 40px;
}

footer .footer-content .footer-contact .get-intouch {
  max-width: 367px;
  width: 100%;
  padding-left: 55px;
}

footer .footer-content .footer-contact .get-intouch h3 {
  font-size: 25px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

footer .footer-content .footer-contact .get-intouch h5 {
  font-size: 13px;
  font-style: normal;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

footer .footer-content .footer-contact .get-intouch input,
footer .footer-content .footer-contact .get-intouch textarea {
  border-radius: 6.607px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6.607px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 9.25px 10.5px;
  color: #fff;
}

footer .footer-content .footer-contact .get-intouch input {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
}

footer .footer-content .footer-contact .get-intouch textarea {
  height: 74px;
  width: 100%;
  resize: none;
}

footer .footer-content .footer-contact .get-intouch button {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.857px;
  text-transform: capitalize;
  border-radius: 5.286px;
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
  padding: 7.268px 9.032px 8.589px 9.303px;
  border: none;
  color: #fff;
}

footer .footer-content .footer-info {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
}

footer .footer-content .footer-info h4 {
  color: #05e8ff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

footer .footer-content .footer-info a {
  color: var(--xm, #9e9e9e);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

footer .footer-content .footer-info ul li {
  padding-top: 22px;
}

footer .footer-content .footer-info .line-yblue {
  height: 358px;
  opacity: 0.1;
}

footer .footer-content .footer-info .box {
  padding-top: 40px;
}

footer .footer-content .footer-info .box-logo {
  padding-right: 27px;
}

footer .footer-content .footer-info .box-logo img {
  width: 140px;
}

footer .footer-content .footer-info .box-logo p {
  padding: 60px 0 20px;
  margin: 0;
  max-width: 368px;
  width: 100%;
}

footer .footer-content .footer-info .box-logo .list-social {
  margin-left: 50px;
}

footer .footer-content .footer-info .box-logo .list-social .social-item {
  padding: 9.6px;
  border-radius: 50%;
  background-color: #e24dff;
}

footer .footer-content .footer-info .box-logo .list-social .social-item img {
  width: 13.59px;
  height: auto;
}

footer .footer-content .footer-info .box-logo .list-social .social-item:not(:first-child) {
  margin-left: 20px;
}

footer .footer-content .footer-info .box-link {
  margin: 40px;
}

footer .footer-content .footer-info .box-link .list-link {
  max-width: 120px;
  width: 100%;
  margin-right: 50px;
}

footer .footer-content .footer-info .box-link .get-help {
  width: 86px;
}

footer .footer-content .footer-info .box-link .get-help .link-faq {
  padding-top: 22px;
}

footer .footer-content .footer-info .box-docs {
  padding-left: 83px;
}

@media (min-width: 576px) {
  .box-auth {
    max-width: 500px;
    width: 100%;
    background-color: #291a3a;
    font-size: 15px;
    position: absolute;
    z-index: 999;
  }
}

@media (max-width: 576px) {
  .box-auth {
    max-width: 576px;
    width: 90%;
    background-color: #291a3a;
    font-size: 15px;
    position: absolute;
    z-index: 999;
    margin-left: 1%;

  }
}


.box-auth input.form-control {
  border-radius: 3px;
  border: 1px solid var(--xm, #9e9e9e);
  background: #1b172f;
  color: #fff;
  padding: 10px 20px;

}

input.form-control::placeholder {
  color: #9e9e9e !important;
}




.box-auth .box-header {
  background-color: #1b172f;
  height: 49px;
  padding: 0 18px 0 34px;
  font-weight: 600;
}

.box-auth .box-header button {
  border: none;
  background-color: inherit;
}

.box-auth form {
  padding: 24px 34px 0;
}

.box-auth form .form-group {
  margin-top: 16px;
}

.box-auth form .form-group label {
  color: var(--xm, #9e9e9e);
  font-weight: 300;
  line-height: 40px;
  text-transform: capitalize;
}

.box-auth form .form-group label.forgot-pass {
  width: 100%;
  text-align: end;
  color: #f5f5f5;
}

.box-auth form button.btn-primary {
  width: 150px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #575757;
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
  box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  font-size: 14px;
  font-weight: 600;
}

.box-auth form .form-group.resend {
  position: relative;
}

.box-auth form .form-group.resend span.resend {
  position: absolute;
  right: 20px;
  top: 8px;
  color: #6c757d;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.565px;
  text-transform: capitalize;
}

.box-auth form .form-group.check {
  margin-top: 19px;
}

.box-auth form .form-group {
  position: relative;
}

.box-auth form .form-group img[alt=show-pass] {
  position: absolute;
  width: 34px;
  right: 10px;
  top: 6px;
}

.box-auth form .form-check label {
  color: #9e9e9e;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
  width: calc(100% - 22px);
}

.box-auth form .form-check input {
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

.box-auth form .btn-redirect {
  color: #e275f9;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.065px;
  text-transform: capitalize;
}

.box-auth.sign-up form {
  padding-bottom: 31px;
}

.box-auth.sign-up {
  max-height: 700px;
  overflow-y: auto;
}

.box-auth.sign-up input,
.box-auth.sign-up button {
  max-height: 100%;
  overflow: auto;
}

@media (min-width: 1100px) {
  .signAuthen {
    top: 5px;
    left: 35%;
  }
}

@media (max-width: 1100px) {
  .signAuthen {
    top: 50px;
    left: 30%;
  }

  .loginAuthen {
    top: 50px;
  }
}

@media (max-width: 800px) {
  .signAuthen {
    top: 150px;
    left: 15%;
  }

  .loginAuthen {
    top: 200px;
  }


}

@media (max-width: 576px) {
  .signAuthen {
    left: -3px;
    top: -20px;
  }
}

@media (max-width: 400px) {
  .box-auth.sign-up {
    max-height: 400px;
    width: 100%;
    overflow-y: auto;
  }

  .box-auth.sign-up input,
  .box-auth.sign-up button {
    max-height: 100%;
    overflow: auto;
  }

  .loginAuthen {
    top: 80px;
  }

  .box-auth.loginAuthen {
    max-height: 400px;
    overflow-y: auto;
  }

  .box-auth.loginAuthen input,
  .box-auth.loginAuthen button {
    max-height: 100%;
    overflow: auto;
  }
}


.box-auth.sign-up form button[type=submit] {
  width: 169px;
  margin-top: 26px;
}

.box-auth.sign-up form p {
  line-height: 45px;
  margin: 0;
  font-weight: 400;
}

.box-auth.sign-up form .risk-level {
  margin: 2px 0;
}

.box-auth.sign-up form .risk-level .process-item {
  margin-right: 7px;
  width: 33%;
  height: 7px;
  border-radius: 3px;
  background: var(--xm, #9e9e9e);
}

.box-auth.sign-up form .risk-level .process-item.error {
  background: #ff004f;
}

.box-auth.sign-up form .risk-level .process-item.success {
  background: #25c22a;
}

.box-auth.sign-up form .risk-level .process-item.average {
  background: #cfe228;
}

.box-auth.sign-up form .risk-level span {
  color: #ff004f;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.565px;
  text-transform: capitalize;
}

.box-auth.sign-up form .form-check .form-check-input {
  background-color: inherit !important;
  border: 2px solid #e275f9;
}

.box-auth.sign-up form .form-group.enter-pass {
  margin-top: 0;
}

.box-auth.signin form,
.box-auth.enter-email form,
.box-auth.reset-password form,
.box-auth.noti-success form {
  padding-bottom: 66px;
}

.box-auth.signin form button[type=submit],
.box-auth.enter-email form button[type=submit],
.box-auth.reset-password form button[type=submit],
.box-auth.noti-success form button[type=submit] {
  width: 169px;
  margin-top: 30px;
}

.box-auth.signin form p.text-start,
.box-auth.enter-email form p.text-start,
.box-auth.reset-password form p.text-start,
.box-auth.noti-success form p.text-start {
  margin-bottom: 0;
  line-height: 39px;
  font-weight: 400;
}

.box-auth.signin form .resend .enter-code {
  position: absolute;
  background-color: #fff;
  width: 91px;
  height: 32px;
  top: 7px;
  right: 7px;
}

.box-auth.enter-email form {
  padding-bottom: 100px;
}

.box-auth.reset-password form {
  padding-bottom: 73px;
}

.box-auth.reset-password form p.notice {
  margin-top: 12px;
  color: #f5f5f5;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
}

.box-auth.two-factor form {
  padding: 28px 80px 74px;
}

.box-auth.two-factor form .list-input-number .num-item input {
  border-radius: 6px;
  background: var(--xm, #9e9e9e);
  width: 45px;
  height: 47px;
  padding: 10px;
  border: none;
}

.box-auth.two-factor form .list-input-number .num-item:not(:last-child) {
  margin-right: 23px;
}

.box-auth.noti-success .box-content {
  padding: 38px 64px 64px;
}

.box-auth.noti-success .box-content h3 {
  margin: 0 auto;
  color: #f5f5f5;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  text-transform: capitalize;
}

.box-auth.noti-success .box-content button {
  border-radius: 5px;
  border: 1px solid #575757;
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
  box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  font-size: 14px;
  font-weight: 600;
  width: 169px;
  margin-top: 38px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

.container-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.line-white {
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0.1;
}

.mt-12 {
  margin-top: 12px;
}

.mt-39 {
  margin-top: 39px;
}

.pl-100 {
  padding-left: 100px;
}

.text-blue {
  color: var(--1, #05e8ff);
}

.line-y {
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.line-yblue {
  width: 1px;
  height: 100%;
  background: #05e8ff;
}

.text-guide,
.container-wrapper main .main-fournumber section.instruction h4 li,
.container-wrapper main .main-fournumber section.instruction ul li,
.container-wrapper main .main-fournumber section.instruction h4,
.container-wrapper main .main-fournumber section.instruction ul {
  color: var(--xm, #9e9e9e);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: capitalize;
}

input {
  color: #fff;
}

.container-wrapper main {
  display: flex;
  height: 100%;
  background-image: url("../images/bg-main.png");
  width: 100%;
}

.container-wrapper main button.btn-support {
  position: fixed;
  z-index: 99999;
  right: 96px;
  bottom: 145px;
  border: none;
  background-color: inherit;
}

.container-wrapper main button.btn-support img {
  width: 66px;
}

.container-wrapper main .main-fournumber {
  height: 100%;

}

.container-wrapper main .main-fournumber .main-content {
  margin-top: 30px;
  margin-left: 107px;
}

@media (max-width: 1800px) {
  .container-wrapper main .main-fournumber .main-content {
    margin: 0 auto;
  }
}

.container-wrapper main .main-fournumber section.four-number {
  margin-top: 50px;
  margin-bottom: 28px;
}

.container-wrapper main .main-fournumber section.four-number .ticket-item:first-child img,
.container-wrapper main .main-fournumber section.four-number .ticket-item:last-child img {
  max-width: 282px;
}

.container-wrapper main .main-fournumber section.four-number .ticket-item:nth-child(2) img {
  max-width: 400px;
}

.container-wrapper main .main-fournumber section.four-number .ticket-info .ticket-title {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}

.container-wrapper main .main-fournumber section.four-number .ticket-info button.btn__prize-buy {
  border-radius: 5px;
  border: 1px solid #575757;
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
  box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  outline: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  width: 169px;
  height: 35px;
  box-shadow: 0px 0px 12px 0px #fff;
}

.container-wrapper main .main-fournumber section.instruction {
  margin: auto;
  width: 80%;
}

.container-wrapper main .main-fournumber section.instruction h4,
.container-wrapper main .main-fournumber section.instruction ul {
  padding-left: 16px;
  list-style-type: disc;
}

.container-wrapper main .main-fournumber .spacer-instruction {
  padding-bottom: 200px;
}

.box__support-chat.active {
  display: block;
  position: fixed;
  /* right: 10px; */
  bottom: 20px;
  z-index: 99999;
}

@media (max-width: 576px) {
  .box__support-chat.active {
    display: block;
    position: fixed;
    /* right: 10px; */
    width: 100%;
    height: 100%;

  }

}


.box__support-chat {
  display: none;
  width: 340px;
  border-radius: 3px 0px 11px 11px;
  border: 1px solid #787878;
  background: #fff;
  box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.43);
}

.box__support-chat .box__support-header {
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
}

.box__support-chat .box__support-header .header-top {
  padding: 16px 20px;
  margin-top: 10px;
}

.box__support-chat .box__support-header .header-top img[alt=qgc-coin] {
  width: 24px;
  height: 24px;
}

.box__support-chat .box__support-header .header-top .icon__exit-chat {
  padding: 6px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.box__support-chat .box__support-header .header-top .icon__exit-chat img[alt=icon__exit-chat] {
  width: 10px;
  height: 10px;
}

.box__support-chat .box__support-header .header-top .icon__exit-chat:hover {
  background-color: inherit;
  opacity: 0.6;
}

.box__support-chat .box__support-header .header-top h5 {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.box__support-chat .box__support-header p:fisrt-child {
  margin-top: 5px;
  margin-bottom: 0;
}

.box__support-chat .box__support-body {
  padding: 10px 20px 33px;
}

.box__support-chat .box__support-body textarea {
  padding: 5px 7px;
  border-radius: 6px;
  border: 1px solid var(--xm, #9e9e9e);
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  width: 100%;
  color: #000;
  height: 112px;
  resize: none;
  overflow-y: hidden;
}

.box__support-chat .box__support-body textarea::-moz-placeholder {
  color: var(--xm, #9e9e9e);
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 17px;
}

.box__support-chat .box__support-body textarea::placeholder {
  color: var(--xm, #9e9e9e);
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 17px;
}

.box__support-chat .box__support-body .select-language h5 {
  color: var(--xm, #9e9e9e);
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.box__support-chat .box__support-body .select-language .list-language {
  margin-top: 8px;
  row-gap: 12px;
  -moz-column-gap: 14px;
  column-gap: 14px;
}

.box__support-chat .box__support-body .select-language .list-language .language-item {
  color: #4baf87;
  background-color: #e5ffee;
  padding: 6px 10px;
  border-radius: 6px;
}

.box__spin-overlay.active,
.box__quest-overlay.active,
.box__refer-overlay.active {
  display: block;
}

.box__spin-overlay,
.box__quest-overlay,
.box__refer-overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(2, 1, 1, 0.5);
  z-index: 1000;
  cursor: pointer;
}

#box-spin {
  width: 1200px;
  position: absolute;
  top: 100px;
  z-index: 1200;
  left: calc(50% - 600px);
}

#box-spin .box-item {
  border-right: 1px solid #807f7f;
}

#box-spin .box-item {
  padding: 8px 11px 13px;
  background: #291a3a;
}

#box-spin .box-item .icon__exit-spinbox {
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

#box-spin .box-item .icon__exit-spinbox img[alt=icon__exit-spinbox] {
  width: 10px;
  height: 10px;
}

#box-spin .box-item .icon__exit-spinbox:hover {
  background-color: inherit;
  opacity: 0.6;
}

#box-spin .box-item .box-content .list-prize {
  border-radius: 3px;
  padding: 5px 8px;
  width: 230px;
  background-color: #1b172f;
}

#box-spin .box-item .box-content .list-prize img {
  width: 64px;
}

#box-spin .box-item .box-content .spin-main {
  background: url("../images/spin-large.png") no-repeat;
  max-width: 266px;
  width: 266px;
  height: 266px;
}

#box-spin .box-item .box-content .spin-main .spin-center img {
  width: 60px;
}

#box-spin .box-item .box-content .btn__group-actions {
  width: 100%;
  margin-top: 15px;
  padding: 0 18px;
}

#box-spin .box-item .box-content .btn__group-actions button {
  width: 147px;
  padding: 4px 11px 7px;
  border: none;
  border-radius: 3px;
  border: 1px solid #575757;
  box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
}

#box-spin .box-item .box-content .btn__group-actions button.btn__spin-lucky {
  color: #fff;
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
}

#box-spin .box-item .box-content .btn__group-actions button.btn__spin-auto {
  color: #1b172f;
  background: linear-gradient(180deg, #ffa800 0%, rgba(255, 199, 0, 0.96) 100%);
}

#box-spin .box-item .box-content .box-user {
  margin-top: 10px;
  border-radius: 3px;
  background: #1b172f;
  padding: 20px 6px;
}

#box-spin .box-item .box-content .box-user .user-ava {
  margin-left: 20px;
  margin-right: 18px;
}

#box-spin .box-item .box-content .box-user .user-ava img {
  width: 100%;
  max-width: 36px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#box-spin .box-item .box-content .box-user .user-info {
  padding-right: 20px;
  font-size: 13px;
  font-style: normal;
  line-height: 15px;
  text-transform: capitalize;
}

#box-spin .box-item .box-content .box-user .user-info h5.name {
  font-weight: 400;
  color: #f5f5f5;
  font-size: 15px;
}

#box-spin .box-item .box-content .box-user .user-info p {
  margin-bottom: 0;
  color: var(--xm, #9e9e9e);
  font-weight: 400;
  text-transform: capitalize;
}

#box-spin .box-item .box-content .box-user .user-info p strong {
  margin-left: 6px;
}

#box-spin .box-item .box-content .box-user .user-info p.win strong {
  color: #05e8ff;
}

#box-spin .box-item .box-content .box-user .user-info p.lucky strong {
  color: #e275f9;
}

#box-quest {
  width: 1166px;
  position: absolute;
  top: 80px;
  z-index: 1200;
  left: calc(70% - 583px);
}

@media (max-width: 950px) {
  #box-quest {
    width: 1166px;
    position: absolute;
    top: 200px;

    z-index: 1200;
    left: calc(88% - 583px);
  }
}

@media (max-width: 576px) {
  #box-quest {
    width: 700px;
    position: absolute;
    top: 80px;

    z-index: 1200;
    left: calc(88% - 328px);
  }


}

#box-quest .box-item {
  border-radius: 6px;
  border: 0.5px solid var(--xm, #9e9e9e);
  background: #291a3a;
}

#box-quest .box-item .box-header {
  padding: 13px 23px;
}

#box-quest .box-item .box-header img {
  transition: 0.3s;
}

#box-quest .box-item .box-header img:hover {
  background-color: inherit;
  opacity: 0.6;
}

#box-quest .box-item .box-body .main-content {
  background: url("../images/questhub.png") no-repeat;
  width: 100%;
  background-size: cover;
}

#box-quest .box-item .box-body .main-content .info {
  padding-left: 54px;
  padding-top: 8px;
}

#box-quest .box-item .box-body .main-content .info h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
}

#box-quest .box-item .box-body .main-content .info p {
  color: #ffc700;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  margin: 0;
}

#box-quest .box-item .box-body .main-content .info .money img {
  width: 22px;
  height: 22px;
}

#box-quest .box-item .box-body .main-content .info .money span {
  color: #fff;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  line-height: 31px;
}

#box-quest .box-item .box-body .main-content .info button.btn-previous {
  margin-top: 13px;
  border-radius: 3px;
  background: var(--ch-tin, #ffc700);
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.5px;
  width: 183px;
  height: 38px;
  border: none;
  margin-bottom: 26px;
}

#box-quest .box-item .box-body .detail-quest ul li.nav-item {
  width: 50%;
}

#box-quest .box-item .box-body .detail-quest ul li.nav-item button {
  width: 100%;
  color: #fff;
  border: none;
  border-radius: unset;
}

#box-quest .box-item .box-body .detail-quest ul li.nav-item button.active {
  background-color: inherit;
  border-bottom: 2px solid #d769ee;
  font-weight: 600;
}

#box-quest .box-item .box-body .detail-quest .tab-content {
  border-top: 1px solid #9e9e9e;
}

#box-quest .box-item .box-body .detail-quest .tab-content .tab-pane {
  padding: 8px 42px 8px 26px;
}

@media (max-width: 576px) {
  #box-quest .box-item .box-body .detail-quest .tab-content .tab-pane {
    padding: 18px 6px 0px 2px;
  }
}

#box-quest .box-item .box-body .detail-quest .tab-content .tab-pane h5 {
  color: var(--xm, #9e9e9e);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
}

#box-quest .box-item .box-body .detail-quest .tab-content .tab-pane h5 strong {
  color: #fff;
  font-weight: 500;
}

#box-quest .box-item .box-body .detail-quest .tab-content .tab-pane .list-task {
  margin-top: 19px;
}

#box-quest .box-item .box-body .detail-quest .tab-content .tab-pane .list-task .task-item:not(:last-child) {
  margin-bottom: 15px;
}

#box-quest .box-item .box-body .detail-quest .tab-content .tab-pane .list-task .task-item .task-info img {
  margin-right: 19px;
}

#box-quest .box-item .box-body .detail-quest .tab-content .tab-pane .list-task .task-item .task-info p {
  margin-bottom: 0;
  margin-top: 5px;
  color: #979698;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

#box-quest .box-item .box-body .detail-quest .tab-content .tab-pane .list-task .task-item .task-info p.earn {
  margin-top: 3px;
  color: var(--ch-tin, #ffc700);
  font-weight: 500;
  line-height: 19px;
}

#box-quest .box-item .box-body .detail-quest .tab-content .tab-pane .list-task .task-item .task-info h6 {
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

#box-quest .box-item .box-body .detail-quest .tab-content .tab-pane .list-task .task-item button.btn-go {
  width: 176px;
  height: 34px;
  color: #f5f5f5;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.5px;
  border: none;
  border-radius: 3px;
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
}

#box-refer {
  background: #291a3a;
  width: 400px;
  position: absolute;
  top: 100px;
  z-index: 1200;
  left: calc(50% - 200px);
}

#box-refer .box-item .box-header {
  padding: 19px 18px;
}

#box-refer .box-item .box-header img {
  cursor: pointer;
  transition: 0.3s;
}

#box-refer .box-item .box-header img:hover {
  background-color: inherit;
  opacity: 0.6;
}

#box-refer .box-item .box-body .main-img {
  width: 100%;
  position: relative;
}

#box-refer .box-item .box-body .main-img h4 {
  position: absolute;
  top: 40px;
  left: 18px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  text-transform: uppercase;
  max-width: 240px;
}

#box-refer .box-item .box-body .main-img h4 a {
  color: var(--ch-tin, #ffc700);
}

#box-refer .box-item .box-body .main-content {
  padding: 11px 18px;
}

#box-refer .box-item .box-body .main-content a {
  color: var(--xm, #9e9e9e);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-decoration-line: underline;
  text-transform: capitalize;
}

#box-refer .box-item .box-body .main-content .link-share {
  margin-top: 33px;
}

#box-refer .box-item .box-body .main-content .link-share p {
  color: var(--xm, #9e9e9e);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

#box-refer .box-item .box-body .main-content .link-share .share-value {
  border-radius: 3px;
  background: #1b172f;
  padding: 12px 12px 12px 9px;
}

#box-refer .box-item .box-body .main-content .link-share .share-value input,
#box-refer .box-item .box-body .main-content .link-share .share-value img {
  cursor: pointer;
}

#box-refer .box-item .box-body .main-content .link-share .share-value img {
  width: 18px;
}

#box-refer .box-item .box-body .main-content .link-share .share-value input {
  border: none;
  outline: none;
  background-color: inherit;
  color: #fff;
}

#box__user-info,
#box__user-detail,
#box__edit-username {
  position: absolute;
  border-radius: 3px;
  background: #291a3a;
  z-index: 100;
  width: 546px;
}

#box__user-detail .box-header,
#box__user-info .box-header {
  padding: 18px 25px;
  background-color: inherit;
  font-size: 15px;
}

#box__user-detail .box-header .header-action svg,
#box__user-info .box-header .header-action svg {
  margin-right: 10px;
  transform: rotate(90deg);
  width: 20px;
  height: 10px;
}

#box__user-detail .box-header button,
#box__user-info .box-header button {
  border: none;
  background-color: inherit;
}

#box__user-detail .box-header button:hover,
#box__user-info .box-header button:hover {
  opacity: 0.6;
}

#box__user-detail .user-statis,
#box__user-info .user-statis {
  border-radius: 3px;
  background: #1b172f;
  margin: 19px 18px 36px;
  padding: 16px;
}

#box__user-detail .user-statis button,
#box__user-info .user-statis button {
  border: none;
  background-color: inherit;
  color: #e275f9;
}

#box__user-detail .user-statis button svg,
#box__user-info .user-statis button svg {
  margin-left: 10px;
  transform: rotate(-90deg);
}

#box__user-detail .user-statis .summary-total,
#box__user-info .user-statis .summary-total {
  margin-top: 12px;
}

#box__user-detail .user-statis .summary-total .total-win,
#box__user-detail .user-statis .summary-total .total-play,
#box__user-info .user-statis .summary-total .total-win,
#box__user-info .user-statis .summary-total .total-play {
  flex-grow: 1;
  border-radius: 3px;
  background: #000;
  padding: 12px 45px 45px;
}

#box__user-detail .user-statis .summary-total .total-win h5,
#box__user-detail .user-statis .summary-total .total-play h5,
#box__user-info .user-statis .summary-total .total-win h5,
#box__user-info .user-statis .summary-total .total-play h5 {
  color: var(--xm, #9e9e9e);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
}

#box__user-detail .user-statis .summary-total .total-win span,
#box__user-detail .user-statis .summary-total .total-play span,
#box__user-info .user-statis .summary-total .total-win span,
#box__user-info .user-statis .summary-total .total-play span {
  margin-top: 14px;
  color: var(--text, #e275f9);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
}

#box__user-detail .user-statis .summary-total .total-win,
#box__user-info .user-statis .summary-total .total-win {
  margin-right: 5px;
}

#box__user-detail .user-statis .summary-total .total-play,
#box__user-info .user-statis .summary-total .total-play {
  margin-left: 5px;
}

#box__user-info {
  left: 500px;
  top: 150px;
}



@media (max-width: 576px) {
  #box__user-info {
    left: 20px;
    top: 50px;
  }


}

#box__user-info .user-info {
  position: relative;
}

#box__user-info .user-info button.btn__edit-info {
  width: 24px;
  right: 21px;
  position: absolute;
  border: none;
  border-radius: 6px;
  border: 0.5px solid var(--xm, #9e9e9e);
  background: var(--xm, #9e9e9e);
  height: -moz-max-content;
  height: max-content;
}

#box__user-info .user-info .info-main img {
  border-radius: 50%;
  border: 2px solid var(--text, #e275f9);
  width: 70px;
}

#box__user-info .user-info .info-main h5 {
  margin-top: 14px;
  color: var(--text, #e275f9);
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
}

#box__user-info .user-info .info-main span {
  color: #f5f5f5;
  font-size: 13px;
  text-transform: capitalize;
}

#box__user-info .user-statis {
  margin-top: 52px;
}

#box__user-detail {
  top: 200px;
  left: 500px;
}

#box__user-detail .box-header {
  padding: 18px 25px;
  background-color: inherit;
}

#box__user-detail .box-header .header-action svg {
  margin-right: 10px;
  transform: rotate(90deg);
  width: 20px;
  height: 10px;
}

#box__user-detail .box-header button {
  border: none;
  background-color: inherit;
}

#box__user-detail .box-header button:hover {
  opacity: 0.6;
}

#box__user-detail .select-network {
  padding-left: 35px;
  padding-right: 50px;
}

#box__user-detail .select-network input {
  border-radius: 3px;
  border: 1px solid #393636;
  background: #1b172f;
  padding: 12px 20px;
  margin: 0 8px;
  color: #fff;
  flex-grow: 1;
}

#box__edit-username {
  top: 40px;
  left: 500px;
}

@media (max-width: 950px) {
  #box__user-info {
    left: 150px;
    top: 300px;
  }

  #box__edit-username {
    top: 200px;
    left: 150px;
  }

  #box__user-detail {
    top: 200px;
    left: 150px;
  }
}

@media (max-width: 768px) {
  #box__user-info {
    left: 180px;
    top: 150px;
    width: 400px;
  }

  #box__edit-username {
    top: 150px;
    left: 180px;
    width: 400px;
    height: 60%;

  }

  #box__user-detail {
    width: 370px;
    top: 180px;
    left: 180px;
  }
}

@media (max-width: 428px) {
  #box__user-info {
    left: 30px;
    top: 70px;
    width: 371px;
  }

  #box__edit-username {
    top: 50px;
    left: 30px;
    width: 371px;
    height: 80%;

  }

  #box__user-detail {
    width: 370px;
    top: 150px;
    left: 30px;
  }
}




@media (max-width: 400px) {
  #box__user-info {
    left: 20px;
    top: 70px;
    width: 350px;
  }

  #box__edit-username {
    top: 50px;
    left: 40px;
    width: 321px;
    height: 80%;

  }

  #box__user-detail {
    width: 330px;
    top: 150px;
    left: 30px;
  }
}

@media (max-width:360px) {
  #box__user-info {
    left: 10px;
    top: 70px;
    width: 350px;
  }

  #box__edit-username {
    top: 50px;
    left: 20px;
    width: 321px;
    height: 80%;

  }

  #box__user-detail {
    width: 330px;
    top: 150px;
    left: 15px;
  }
}



/* @media (max-width: 400px) {
  #box__user-info {
    left: 25px;
    top: 70px;
    width: 340px;
  }

  #box__edit-username {
    top: 50px;
    left: 40px;
    width: 321px;
    height: 80%;
  }

  #box__user-detail {
    width: 340px;
    top: 150px;
    left: 30px;
  }

} */

#box__edit-username .box-header {
  padding: 18px 25px;
  background-color: #1b172f;
}

#box__edit-username .box-header .header-action svg {
  margin-right: 10px;
  transform: rotate(90deg);
  width: 20px;
  height: 10px;
}

#box__edit-username .box-header button {
  border: none;
  background-color: inherit;
}

#box__edit-username .box-header button:hover {
  opacity: 0.6;
}

#box__edit-username .edit-ava {
  margin-top: 10px;
}

#box__edit-username .edit-ava img {
  width: 148px;
  border-radius: 147.304px;
  border: 4.209px solid var(--text, #e275f9);
}

#box__edit-username .edit-ava button {
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-transform: capitalize;
  background: #1b172f;
  padding: 0 20px;
  border-radius: 3px;
}

#box__edit-username form {
  padding: 25px 81px 70px 72px;
}

#box__edit-username form label {
  color: var(--xm, #9e9e9e);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.565px;
  text-transform: capitalize;
}

#box__edit-username form input {
  border-radius: 3px;
  border: 1px solid var(--xm, #9e9e9e);
  background: #1b172f;
  padding: 8px 20px;
  color: #fff;
}

#box__edit-username form .notice {
  margin-top: 8px;
}

#box__edit-username form button {
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #575757;
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
  box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  line-height: 35px;
  color: #fff;
  font-weight: 500;
  padding: 0 40px;
}

.btn__purple-confirm {
  border-radius: 5px;
  border: 1px solid #575757;
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
  box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  line-height: 35px;
  color: #fff;
  font-weight: 500;
}

.container-wrapper.active-overlay {
  background-color: rgba(2, 1, 1, 0.5);
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}