.side-bar.active-show {
  width: 340px;
}

@media (max-width: 576px) {
  .side-bar.active-show {
    width: 100%;
  }

  .side-bar.active-show .header-menu img {
    display: block;
  }

  .side-bar.active-show .header-menu span {
    display: block;
  }
}

.side-bar.active-show .header-menu span {
  display: block;
}

.side-bar.active-show .sidebar-content {
  box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.43);
  padding: 20px 15px 20px 26px;
  border-right: 1px solid #787878;
}

.side-bar.active-show .sidebar-content .event {
  display: flex !important;
  border-radius: 6px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
  padding: 25px 37px 15px 24px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 15px;
  text-transform: uppercase;
}

.side-bar.active-show .sidebar-content .event .wrap-box {
  display: flex !important;
  background: url("../images/icons/event-wrapbox.svg") no-repeat;
  height: 44px;
  width: 152px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 16px;
  text-shadow: 2px 0 #50a7ab, -2px 0 #50a7ab, 0 2px #50a7ab, 0 -2px #50a7ab, 1px 1px #50a7ab, -1px -1px #50a7ab, 1px -1px #50a7ab, -1px 1px #50a7ab;
}

.side-bar.active-show .sidebar-content .event .wrap-box::after {
  content: url("../images/icons/tag.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
}

.side-bar.active-show .sidebar-content .event .feature-event {
  flex-direction: row;
}

.side-bar.active-show .sidebar-content .event .feature-event img {
  cursor: pointer;
}

.side-bar.active-show .sidebar-content .event img {
  width: 108px;
}

.side-bar.active-show .sidebar-content .event img[alt=spin] {
  margin-left: 10px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item {
  padding: 0 22px;
  margin-top: 15px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item:first-child {
  padding: 4px;
  background: #1b172f;
  box-shadow: unset;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item:first-child .item-content {
  max-width: 140px;
  width: 100%;
  text-align: center;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.refer-feature {
  cursor: pointer;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.vip-small,
.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.tag-icon,
.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.quest-icon,
.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.spin-icon {
  display: none !important;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item img {
  margin-right: 10px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item .item-content {
  display: block;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item .item-content span {
  color: var(--xm, #9e9e9e);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card {
  background: inherit;
  width: 100%;
  border: none;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header.active__sidebar-item {
  border-radius: 3px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 9px 1px #05e8ff inset, 0px 0px 7px 5px #198470;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header button {
  padding: 0;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  width: 100%;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header button svg {
  display: block;
  transform: rotate(-90deg);
  transition: 0.3s;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header button[aria-expanded=true] svg {
  transform: rotate(0);
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header button:focus {
  box-shadow: none;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-body {
  display: block;
  padding: 0;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-body ul li {
  padding: 12px 0 12px 52px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-body ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-body ul li img {
  width: 24px;
  margin-right: 10px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-body ul :hover {
  transition: 0.3s;
  background-color: #53386a;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.allow-expand {
  padding: 0;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item:not(:first-child) {
  margin-top: 3px;
  margin-bottom: 0;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.active__sidebar-item {
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 9px 1px #05e8ff inset, 0px 0px 7px 5px #198470;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.live-support {
  border-radius: 10px;
  border: 1px solid var(--1, #05e8ff);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-vipclub {
  display: block;
  margin: 19px -20px 0;
  position: relative;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content {
  position: absolute;
  top: 0px;
  left: calc(50% - 75px);
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content div {
  max-width: 150px;
  width: 100%;
  line-height: 0;
  color: #050505;
  text-align: center;
  text-shadow: 0px 0px 1px #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.5px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content div strong {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.5px;
}

.side-bar.active-show .sidebar-content,
.side-bar .sidebar-content {
  overflow-y: scroll;
  max-height: calc(100vh - 65px);
}

.side-bar.active-show .sidebar-content::-webkit-scrollbar,
.side-bar.active-show .sidebar-content::-webkit-scrollbar,
.side-bar .sidebar-content::-webkit-scrollbar,
.side-bar .sidebar-content::-webkit-scrollbar {
  display: none;
}

.side-bar {
  position: fixed;
  transition: 0.5s;
  top: 0;
  left: 0;
  width: 84px;
  z-index: 2000;
  overflow-x: hidden;
  height: auto;
  background: linear-gradient(180deg, rgb(44, 39, 93) 17%, rgb(71, 48, 100) 30%, rgb(53, 49, 111) 50%, rgb(41, 38, 72) 72%);
}

.side-bar .line-yblue {
  height: 47px;
  position: absolute;
  right: 1px;
}

.side-bar .header-menu {
  padding-top: 21px;
  padding-bottom: 19px;
  border-bottom: 1px solid #787878;
}

.side-bar .header-menu img {
  cursor: pointer;
  margin-right: 9px;
}

.side-bar .header-menu span {
  display: none;
}

.side-bar .sidebar-content .event {
  display: none !important;
}

.side-bar .sidebar-content .event .wrap-box {
  display: none !important;
}

.side-bar .sidebar-content .event .feature-event {
  flex-direction: column;
}

.side-bar .sidebar-content .event .feature-event img {
  cursor: pointer;
}

.side-bar .sidebar-content .event img {
  width: 108px;
}

.side-bar .sidebar-content .event img[alt=spin] {
  margin-left: 10px;
}

.side-bar .sidebar-content .sidebar__list-item {
  padding-left: 15px;
  padding-right: 13px;
  margin-top: 15px;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.refer-feature {
  padding: 4px;
  background: #1b172f;
  box-shadow: unset;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.refer-feature .item-content {
  max-width: 140px;
  width: 100%;
  text-align: center;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.refer-feature {
  cursor: pointer;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item img {
  margin-right: 0;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item .item-content {
  display: none;
}

.side-bar .sidebar-content .sidebar__list-item .card {
  margin-top: 8px;
  background: inherit;
  width: 100%;
  border: none;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header.active__sidebar-item {
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 9px 1px #05e8ff inset, 0px 0px 7px 5px #198470;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header button {
  padding: 0;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  width: 100%;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header button svg {
  display: none;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header button[aria-expanded=true] svg {
  transform: rotate(0);
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header button:focus {
  box-shadow: none;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-body {
  display: none;
  padding: 0;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-body ul li {
  padding: 12px 0 12px 52px;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-body ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-body ul li img {
  width: 24px;
  margin-right: 10px;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-body ul :hover {
  transition: 0.3s;
  background-color: #53386a;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.allow-expand {
  padding: 0;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.vip-small,
.side-bar .sidebar-content .sidebar__list-item .sidebar-item.tag-icon,
.side-bar .sidebar-content .sidebar__list-item .sidebar-item.quest-icon,
.side-bar .sidebar-content .sidebar__list-item .sidebar-item.spin-icon {
  display: block;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item:not(:first-child) {
  margin-top: 8px;
  margin-bottom: 0;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.active__sidebar-item {
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 9px 1px #05e8ff inset, 0px 0px 7px 5px #198470;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.live-support {
  border-radius: 10px;
  border: 1px solid var(--1, #05e8ff);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-vipclub {
  display: none;
  margin: 19px -20px 0;
  position: relative;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content {
  position: absolute;
  top: 0px;
  left: calc(50% - 75px);
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content div {
  max-width: 150px;
  width: 100%;
  line-height: 0;
  color: #050505;
  text-align: center;
  text-shadow: 0px 0px 1px #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.5px;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content div strong {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.5px;
}

.main-deposit {
  margin: auto;
  width: 80%;

}

.main-deposit p {
  margin: 0;
}

.main-deposit .text-15 {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .main-deposit .text-15 {
    font-size: 11px;
  }
}

.main-deposit .deposit-content {
  padding-top: 22px;
  margin-bottom: 65px;
}

.main-deposit .deposit-content .btn-wallet {
  background-color: #291a3a;
  padding: 10px 17px;
  border: none;
  font-weight: 500;
}

.main-deposit .deposit-content .feature-content {
  padding-top: 33px;
  max-height: 720px;
  height: 100%;
}

.main-deposit .deposit-content .feature-content .list-feature,
.main-deposit .deposit-content .feature-content .feature-detail {
  background-color: #291a3a;
}

.main-deposit .deposit-content .feature-content .list-feature {
  width: 278px;
  margin-right: 11px;
  padding: 11px;
  height: -moz-max-content;
  height: max-content;
}

.main-deposit .deposit-content .feature-content .list-feature ul li.feature-item {
  transition: 0.3s;
  cursor: pointer;
  padding: 10px;
}

.main-deposit .deposit-content .feature-content .list-feature ul li.feature-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.main-deposit .deposit-content .feature-content .list-feature ul li.feature-item img h4 {
  font-weight: 400;
}

.main-deposit .deposit-content .feature-content .list-feature ul li.feature-item:hover {
  background-color: #1b172f;
  opacity: 0.8;
}

.main-deposit .deposit-content .feature-content .list-feature ul li.feature-item.active {
  background-color: #1b172f;
}

.main-deposit .deposit-content .feature-content .list-feature ul li.feature-item.active h4 {
  font-weight: 600;
}

.main-deposit .deposit-content .feature-content .list-feature ul li.feature-item:last-child {
  border-top: 1px solid #6b6b6b;
}

.main-deposit .deposit-content .feature-content .feature-detail {
  max-width: 983px;
  width: 100%;
  height: 100%;
  padding: 40px 36px !important;
}

.main-deposit .deposit-content .feature-content .feature-detail ul li.nav-item {
  width: 50%;
}

.main-deposit .deposit-content .feature-content .feature-detail ul li.nav-item button {
  width: 100%;
  color: #fff;
  border: none;
}

.main-deposit .deposit-content .feature-content .feature-detail ul li.nav-item button.active {
  background-color: inherit;
  border-bottom: 2px solid #d769ee;
  font-weight: 600;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .list-currency button.currency:last-child {
  padding: 0 18px 2px 2px;
  margin-left: 12px;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .list-currency button.currency {
  padding: 3px 12px 2px 4px;
  border-radius: 21px;
  border: 0.5px solid var(--text, #e275f9);
  background: #1b172f;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .list-currency button.currency .text-cur {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

@media (max-width: 576px) {
  .main-deposit .deposit-content .feature-content .feature-detail .tab-content .list-currency button.currency .text-cur {
    font-size: 13px;
  }
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .list-currency button.currency img {
  width: 30px;
  height: 30px;
}

@media (max-width: 576px) {
  .main-deposit .deposit-content .feature-content .feature-detail .tab-content .list-currency button.currency img {
    width: 18px;
    height: 18px;
  }
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .currency-show {
  padding: 10px 16px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #393636;
  background: #1b172f;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .currency-show img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .select-network {
  border-radius: 6px;
  border: 1px solid #393636;
  background: #1b172f;
  padding: 12px 20px;
  position: relative;
}

@media (max-width: 576px) {
  .main-deposit .deposit-content .feature-content .feature-detail .tab-content .select-network {
    padding: 8px 10px;
  }
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .select-network select {
  background-color: inherit;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex-grow: 1;
  z-index: 2;
  position: static;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .select-network svg {
  position: absolute;
  right: 24px;
  top: calc(50% - 5px);
  z-index: 2;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .info-address {
  padding: 14px 30px 14px 14px;
  background: #1b172f;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .info-address .qr {
  width: 168px;
  height: 168px;
  border-radius: 9px;
  background: #d9d9d9;
  margin-right: 26px;
  color: #000;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .info-address .address-code {
  flex-grow: 1;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .info-address .address-code .address-wrapper {
  border-radius: 6px;
  border: 1px solid #393636;
  background: #000;
  padding: 25px 20px 25px;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .info-address .address-code .address-wrapper button {
  border-radius: 3px;
  background: #291a3a;
  border: none;
  padding: 0 20px;
  line-height: 28px;
}

@media (max-width: 576px) {
  .main-deposit .deposit-content .feature-content .feature-detail .tab-content .info-address {
    padding: 26px 9px 14px 13px;
  }

  .main-deposit .deposit-content .feature-content .feature-detail .tab-content .info-address .qr {
    margin-right: 0;
  }

  .main-deposit .deposit-content .feature-content .feature-detail .tab-content .info-address .address-code {
    width: 100%;
    margin-top: 12px;
  }

  .main-deposit .deposit-content .feature-content .feature-detail .tab-content .info-address .address-code .address-wrapper {
    border-radius: 6px;
    border: 1px solid #393636;
    background: #000;
    padding: 10px 11px;
  }

  .main-deposit .deposit-content .feature-content .feature-detail .tab-content .info-address .address-code .address-wrapper button {
    border-radius: 3px;
    background: #291a3a;
    border: none;
    padding: 0 20px;
    line-height: 28px;
  }
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .notice {
  border-radius: 3px;
  background: rgba(180, 60, 202, 0.2);
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .notice p {
  padding: 18px 7px;
}

.main-deposit .deposit-content .feature-content .feature-detail .tab-content .notice p strong {
  color: var(--text, #e275f9);
  font: 600px;
}

@media (max-width: 576px) {
  .main-deposit .deposit-content .feature-content .feature-detail .tab-content .notice p {
    font-size: 9px;
  }
}

.main-deposit .deposit-content .feature-content .transaction-detail .list-button {
  margin-bottom: 24px;
}

.main-deposit .deposit-content .feature-content .transaction-detail .list-button button {
  display: flex;
  align-items: center;
  width: 164px;
  height: 52px;
  padding: 25px 13px 25px 20px;
  border-radius: 3px;
  border: 1px solid #393636;
  background: #291a3a;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  margin-right: 10px;
}

.list-button {
  position: relative;
  display: inline-block;
}

.dropdown-options {
  position: absolute;
  z-index: 9;
  top: 110%;
  left: 0;
  border-radius: 10px;
  background-color: #291a3a;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  min-width: 165px;
}

.dropdown-options2 {
  position: absolute;
  z-index: 9;
  top: 110%;
  left: 175px;
  border-radius: 10px;
  background-color: #291a3a;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  min-width: 165px;
}

.dropdown-options3 {
  position: absolute;
  z-index: 9;
  top: 110%;
  left: 350px;
  border-radius: 10px;
  background-color: #291a3a;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  min-width: 165px;
}

.dropdown-options4 {
  position: absolute;
  z-index: 9;
  top: 110%;
  left: 525px;
  border-radius: 10px;
  background-color: #291a3a;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  min-width: 165px;
}

.option {
  padding: 8px 12px;
  cursor: pointer;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


.customtran .list-button button {
  display: flex;
  align-items: center;
  width: 164px;
  height: 52px;
  padding: 25px 13px 25px 20px;
  border-radius: 3px;
  border: 1px solid #393636;
  background: #291a3a;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  margin-right: 10px;
}

.list-button {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.items {
  flex: 2 1 150px;
}

.main-deposit .deposit-content .feature-content .transaction-detail .list-button button svg {
  transform: rotate(-90deg);
}

.main-deposit .deposit-content .feature-content.setting {
  max-height: unset;
}

@media (max-width: 576px) {
  .main-deposit {
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 300px;
  }

  .main-deposit .deposit-content {
    padding-top: 0;
    margin-bottom: 20px;
  }

  .main-deposit .deposit-content button.btn-wallet {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.069px solid var(--xm, #545454);
    background: #1b172f;
    box-shadow: 0px 4.2773723602px 4.2773723602px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
  }

  .main-deposit .deposit-content button.btn-wallet img {
    width: 14px;
  }

  .main-deposit .deposit-content .list-feature {
    display: none;
  }

  .main-deposit .deposit-content .feature-content {
    padding: 16px;
  }

  .main-deposit .deposit-content .feature-content .feature-detail {
    padding: 16px;
  }

  .main-deposit .deposit-content .feature-content .transaction-detail .list-button {
    max-width: 400px;
    row-gap: 8px;
    -moz-column-gap: 12px;
    column-gap: 12px;
    flex-wrap: wrap;
  }

  .main-deposit .deposit-content .feature-content .transaction-detail .list-button button {
    width: 48%;
    margin-right: 0;
    font-size: 11px;
    padding: 0 12px;
    height: 36px;
    border-color: #393636;
  }

  .main-deposit .deposit-content .feature-content section.transaction-table.detail-trans {
    width: 100%;
    max-width: unset;
    background-color: unset;
  }

  .main-deposit .deposit-content .feature-content section.transaction-table.detail-trans table {
    position: static;
    width: 100%;
  }

  .main-deposit .deposit-content .feature-content section.transaction-table.detail-trans table tr td,
  .main-deposit .deposit-content .feature-content section.transaction-table.detail-trans table tr th {
    font-size: 11px;
    padding: 0 3px;
  }

  .main-deposit .deposit-content .notice {
    border-radius: 1.511px;
    background: rgba(180, 60, 202, 0.2);
  }
}