.side-bar.active-show {
  width: 340px;
}

@media (max-width: 576px) {
  .side-bar.active-show {
    width: 100%;
  }

  .side-bar.active-show .header-menu img {
    display: block;
  }

  .side-bar.active-show .header-menu span {
    display: block;
  }
}

.side-bar.active-show .header-menu span {
  display: block;
}

.side-bar.active-show .sidebar-content {
  box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.43);
  padding: 20px 15px 20px 26px;
  border-right: 1px solid #787878;
}

.side-bar.active-show .sidebar-content .event {
  display: flex !important;
  border-radius: 6px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
  padding: 25px 37px 15px 24px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 15px;
  text-transform: uppercase;
}

.side-bar.active-show .sidebar-content .event .wrap-box {
  display: flex !important;
  background: url("../images/icons/event-wrapbox.svg") no-repeat;
  height: 44px;
  width: 152px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 16px;
  text-shadow: 2px 0 #50a7ab, -2px 0 #50a7ab, 0 2px #50a7ab, 0 -2px #50a7ab, 1px 1px #50a7ab, -1px -1px #50a7ab, 1px -1px #50a7ab, -1px 1px #50a7ab;
}

.side-bar.active-show .sidebar-content .event .wrap-box::after {
  content: url("../images/icons/tag.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
}

.side-bar.active-show .sidebar-content .event .feature-event {
  flex-direction: row;
}

.side-bar.active-show .sidebar-content .event .feature-event img {
  cursor: pointer;
}

.side-bar.active-show .sidebar-content .event img {
  width: 108px;
}

.side-bar.active-show .sidebar-content .event img[alt=spin] {
  margin-left: 10px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item {
  padding: 0 22px;
  margin-top: 15px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item:first-child {
  padding: 4px;
  background: #1b172f;
  box-shadow: unset;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item:first-child .item-content {
  max-width: 140px;
  width: 100%;
  text-align: center;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.refer-feature {
  cursor: pointer;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.vip-small,
.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.tag-icon,
.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.quest-icon,
.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.spin-icon {
  display: none !important;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item img {
  margin-right: 10px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item .item-content {
  display: block;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item .item-content span {
  color: var(--xm, #9e9e9e);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card {
  background: inherit;
  width: 100%;
  border: none;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header.active__sidebar-item {
  border-radius: 3px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 9px 1px #05e8ff inset, 0px 0px 7px 5px #198470;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header button {
  padding: 0;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  width: 100%;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header button svg {
  display: block;
  transform: rotate(-90deg);
  transition: 0.3s;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header button[aria-expanded=true] svg {
  transform: rotate(0);
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-header button:focus {
  box-shadow: none;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-body {
  display: block;
  padding: 0;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-body ul li {
  padding: 12px 0 12px 52px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-body ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-body ul li img {
  width: 24px;
  margin-right: 10px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .card .card-body ul :hover {
  transition: 0.3s;
  background-color: #53386a;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.allow-expand {
  padding: 0;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item:not(:first-child) {
  margin-top: 3px;
  margin-bottom: 0;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.active__sidebar-item {
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 9px 1px #05e8ff inset, 0px 0px 7px 5px #198470;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-item.live-support {
  border-radius: 10px;
  border: 1px solid var(--1, #05e8ff);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-vipclub {
  display: block;
  margin: 19px -20px 0;
  position: relative;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content {
  position: absolute;
  top: 0px;
  left: calc(50% - 75px);
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content div {
  max-width: 150px;
  width: 100%;
  line-height: 0;
  color: #050505;
  text-align: center;
  text-shadow: 0px 0px 1px #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.5px;
}

.side-bar.active-show .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content div strong {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.5px;
}

.side-bar.active-show .sidebar-content,
.side-bar .sidebar-content {
  overflow-y: scroll;
  max-height: calc(100vh - 65px);
}

.side-bar.active-show .sidebar-content::-webkit-scrollbar,
.side-bar.active-show .sidebar-content::-webkit-scrollbar,
.side-bar .sidebar-content::-webkit-scrollbar,
.side-bar .sidebar-content::-webkit-scrollbar {
  display: none;
}

.side-bar {
  position: fixed;
  transition: 0.5s;
  top: 0;
  left: 0;
  width: 84px;
  z-index: 2000;
  overflow-x: hidden;
  height: auto;
  background: linear-gradient(180deg, rgb(44, 39, 93) 17%, rgb(71, 48, 100) 30%, rgb(53, 49, 111) 50%, rgb(41, 38, 72) 72%);
}

.side-bar .line-yblue {
  height: 47px;
  position: absolute;
  right: 1px;
}

.side-bar .header-menu {
  padding-top: 21px;
  padding-bottom: 19px;
  border-bottom: 1px solid #787878;
}

.side-bar .header-menu img {
  cursor: pointer;
  margin-right: 9px;
}

.side-bar .header-menu span {
  display: none;
}

.side-bar .sidebar-content .event {
  display: none !important;
}

.side-bar .sidebar-content .event .wrap-box {
  display: none !important;
}

.side-bar .sidebar-content .event .feature-event {
  flex-direction: column;
}

.side-bar .sidebar-content .event .feature-event img {
  cursor: pointer;
}

.side-bar .sidebar-content .event img {
  width: 108px;
}

.side-bar .sidebar-content .event img[alt=spin] {
  margin-left: 10px;
}

.side-bar .sidebar-content .sidebar__list-item {
  padding-left: 15px;
  padding-right: 13px;
  margin-top: 15px;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.refer-feature {
  padding: 4px;
  background: #1b172f;
  box-shadow: unset;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.refer-feature .item-content {
  max-width: 140px;
  width: 100%;
  text-align: center;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.refer-feature {
  cursor: pointer;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item img {
  margin-right: 0;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item .item-content {
  display: none;
}

.side-bar .sidebar-content .sidebar__list-item .card {
  margin-top: 8px;
  background: inherit;
  width: 100%;
  border: none;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header.active__sidebar-item {
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 9px 1px #05e8ff inset, 0px 0px 7px 5px #198470;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header button {
  padding: 0;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  width: 100%;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header button svg {
  display: none;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header button[aria-expanded=true] svg {
  transform: rotate(0);
}

.side-bar .sidebar-content .sidebar__list-item .card .card-header button:focus {
  box-shadow: none;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-body {
  display: none;
  padding: 0;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-body ul li {
  padding: 12px 0 12px 52px;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-body ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-body ul li img {
  width: 24px;
  margin-right: 10px;
}

.side-bar .sidebar-content .sidebar__list-item .card .card-body ul :hover {
  transition: 0.3s;
  background-color: #53386a;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.allow-expand {
  padding: 0;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.vip-small,
.side-bar .sidebar-content .sidebar__list-item .sidebar-item.tag-icon,
.side-bar .sidebar-content .sidebar__list-item .sidebar-item.quest-icon,
.side-bar .sidebar-content .sidebar__list-item .sidebar-item.spin-icon {
  display: block;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item:not(:first-child) {
  margin-top: 8px;
  margin-bottom: 0;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.active__sidebar-item {
  border-radius: 10px;
  border: 1px solid #393636;
  background: linear-gradient(180deg, rgba(46, 46, 47, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: hue;
  box-shadow: 0px 0px 9px 1px #05e8ff inset, 0px 0px 7px 5px #198470;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-item.live-support {
  border-radius: 10px;
  border: 1px solid var(--1, #05e8ff);
  background-blend-mode: hue;
  box-shadow: 0px 0px 7px 0px #fff inset;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-vipclub {
  display: none;
  margin: 19px -20px 0;
  position: relative;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content {
  position: absolute;
  top: 0px;
  left: calc(50% - 75px);
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content div {
  max-width: 150px;
  width: 100%;
  line-height: 0;
  color: #050505;
  text-align: center;
  text-shadow: 0px 0px 1px #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.5px;
}

.side-bar .sidebar-content .sidebar__list-item .sidebar-vipclub .vipclub-content div strong {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.5px;
}

.main-home {
  height: 100%;
}

.main-home .carousel-cell .item-buy {
  min-width: 248px;
  width: 100%;
  padding: 21px 0;
  border-radius: 2px;
  border: 0.5px solid var(--xm, #9e9e9e);
  background: linear-gradient(180deg, #342363 0%, #3c0364 100%);
}

.main-home .carousel-cell .item-buy img {
  width: 36px;
}

.main-home .carousel-cell .item-buy p {
  margin: 0;
}

.main-home .main-content {
  width: 80%;
  margin: auto;
}

@media (max-width: 1800px) {
  .main-home .main-content {
    width: 80%;
    margin: 0 auto;

  }
}

.main-home .main-content .big-prize {
  margin-top: 25px;
}

.main-home .main-content .big-prize .fire {
  padding: 0 12px;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.main-home .main-content .big-prize .fire img {
  margin-right: 8px;
  width: 14px;
}

.main-home .main-content .big-prize .group-big {
  margin-top: 8px;
}

.main-home .main-content .big-prize .big-item:first-child {
  margin-right: 4px;
}

.main-home .main-content .big-prize .big-item:first-child img {
  width: 25px;
}

.main-home .main-content .big-prize .big-item {
  padding: 8px 12px;
  border-radius: 3px;
  background: #291a3a;
}

.main-home .main-content .big-prize .big-item img {
  width: 20px;
  margin-right: 10px;
}

.main-home .main-content .big-prize .big-item h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
}

.main-home .main-content .big-prize .big-item h3 span {
  color: #ffc700;
}

.main-home .main-content .banner-main {
  margin-top: 30px;
  position: relative;
  background: url("../images/wrapper-banner.png") no-repeat;
}

.main-home .main-content .banner-main .banner-content {
  padding: 21px 0 34.5px 53px;
}

.main-home .main-content .banner-main .banner-content h3 {
  color: #f5f5f5;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.main-home .main-content .banner-main .banner-content h1 {
  color: #f5f5f5;
  text-shadow: -3px 2px 1px rgba(0, 0, 0, 0.78);
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
}

.main-home .main-content .banner-main .banner-content h1 span {
  color: var(--ch-tin, #ffc700);
}

.main-home .main-content .banner-main .banner-content button {
  margin-top: 43px;
  border-radius: 3px;
  background: url("../images/icons/bg-signup.png"), lightgray 50%/cover no-repeat;
  box-shadow: 2px -3px 2px -1px #938de1 inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 16px 0;
  border: none;
  width: 214px;
}

@media (min-width: 800px) {
  .main-home .main-content .banner-main img[alt=banner-home] {
    position: absolute;
    top: 0;
    right: 0;
    width: 866px;
  }

}


@media (max-width: 800px) {
  .main-home .main-content .banner-main img[alt=banner-home] {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
  }

}

@media (max-width: 576px) {
  .main-home .main-content .banner-main img[alt=banner-home] {
    position: absolute;
    top: 0;
    right: 0;

  }

}

s .main-home .main-content section.feature {
  margin-top: 64px;
}

.main-home .main-content section.feature img {
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.main-home .main-content section.section-list-news {
  padding-bottom: 70px;
}

.main-home .main-content section.section-list-news .news-item h2 {
  width: -moz-max-content;
  width: max-content;
  padding: 20px;
  border-radius: 10px;
  background: #1b172f;
  color: #f5f5f5;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

.main-home .main-content section.section-list-news .news-item img {
  max-width: 261px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.main-home .main-content section.section-list-news .news-item:not(:last-child) {
  margin-bottom: 40px;
}

.main-home .main-content.main-event button.btn-event {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  line-height: 15px;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
  margin: 33px 0 28px;
}

@media (max-width: 576px) {
  .main-home .main-content.main-event button.btn-event {
    margin: 20px 0;
    padding: 12px;
    border-radius: 3px;
    background: #291a3a;
    font-size: 11px;
  }
}

.main-home .main-content.main-event .group__btn-event .btn-event {
  border-radius: 3px;
  border-radius: 3px;
  border: 0.5px solid var(--xm, #9e9e9e);
  background: #514d4d;
  line-height: 30px;
  padding: 0 16px;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  .main-home .main-content.main-event .group__btn-event .btn-event {
    margin: 12px 0;
    font-size: 11px;
  }
}

.main-home .main-content.main-event .group__btn-event .btn-event.btn-last {
  background: #291a3a;
  border: none;
}

.main-home .main-content.main-event table {
  border-radius: 3px;
  border: 0.5px solid var(--xm, #9e9e9e);
  background: #291a3a;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

.main-home .main-content.main-event table tr th,
.main-home .main-content.main-event table tr td:first-child {
  color: var(--1, #05e8ff);
}

.main-home .main-content.main-event table tr th,
.main-home .main-content.main-event table tr td:not(:last-child) {
  border-right: 1px solid #9e9e9e;
}

.main-home .main-content.main-event table tr th,
.main-home .main-content.main-event table tr td {
  text-align: center;
  padding: 16px 60px;
}

.main-home .main-content.main-event table tr td.status.confirm {
  color: #74ff06;
}

.main-home .main-content.main-event table tr td.status.unconfirm {
  color: #f00;
}

.main-home .main-content.main-event table tr:not(:last-child) {
  border-bottom: 1px solid #9e9e9e;
}

@media (max-width: 576px) {
  .main-home .main-content.main-event table {
    width: 100%;
  }

  .main-home .main-content.main-event table tr {
    padding: 0;
  }

  .main-home .main-content.main-event table tr th,
  .main-home .main-content.main-event table tr td {
    font-size: 11px;
    padding: 6px 2px;
  }
}

.main-home .main-content.main-event .list-event .event-item {
  border-radius: 3px;
  border: 0.5px solid var(--xm, #9e9e9e);
  background: #1b172f;
}

.main-home .main-content.main-event .list-event .event-item .time {
  color: var(--xm, #9e9e9e);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.main-home .main-content.main-event .list-event .event-item .time p {
  margin-bottom: 0;
}

.main-home .main-content.main-event .list-event .event-item button {
  width: 120px;
  line-height: 34px;
  color: white;
  border-radius: 3px;
  border: none;
  background: var(--button, linear-gradient(180deg, #b43cca 0%, #520061 100%));
}

@media (max-width: 576px) {
  .main-home .main-content.main-event .list-event .event-item .event-info {
    padding: 0 12px;
  }
}

.main-home .main-content.main-event button.btn-event.btn-detail {
  padding: 10px;
  border-radius: 3px;
  background: #291a3a;
  color: #f5f5f5;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: capitalize;
}

.main-home .main-content.main-event button.btn-event.btn-detail a {
  color: #fff;
  font-weight: 500;
}

.main-home .main-content.main-event img[alt=banner-nft] {
  width: 897px;
  height: 395px;
  flex-shrink: 0;
}

.main-home .main-content.main-event .info-detail {
  max-width: 897px;
  margin-top: 32px;
  padding-bottom: 31px;
  border-bottom: 1px solid #4f4d4d;
}

.main-home .main-content.main-event .info-detail h4 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}

.main-home .main-content.main-event .info-detail p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 0;
}

.main-home .main-content.main-event .info-detail p.time {
  color: var(--xm, #9e9e9e);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.main-home .main-content.main-event .info-guide {
  max-width: 897px;
}

.main-home .main-content.main-event .info-guide .total-max {
  margin-top: 11px;
  display: flex;
  width: 418px;
  height: 65px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #1b172f;
}

.main-home .main-content.main-event .info-guide .total-max span {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  /* 58.333% */
  text-transform: uppercase;
}

.main-home .main-content.main-event .info-guide .total-max span.total {
  max-width: 89px;
  line-height: 30px;
}

.main-home .main-content.main-event .info-guide .total-max span.max {
  color: #ffc700;
}

.main-home .main-content.main-event .info-guide .rules {
  margin-top: 23px;
}

.main-home .main-content.main-event .info-guide .rules a {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-decoration-line: underline;
}

.main-home .main-content.main-event .info-guide .text-game {
  color: var(--xm, #9e9e9e);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.main-home .main-content.main-event .info-guide .guide {
  width: 876px;
  height: 237px;
  display: flex;
  justify-content: center;
  align-items: center;
}