.contact-para {

  margin: auto;
}

.container-wrapper main button.btn-support img {
  width: 45px;
}

@media (max-width: 1368px) {
  header .header-right {
    width: -moz-max-content;
    width: max-content;
  }

  main .main-home .main-content {
    max-width: unset;
    margin-left: 100px;
  }
}

@media (max-width: 1068px) {
  header .header-content {
    position: absolute;
    margin-left: 300px;
  }

  .footer .footer-content .footer-contact {
    margin-top: 12px;
    padding: 0;
    flex-direction: column;
  }
}

@media (min-width: 577px) {
  .mobile {
    display: none !important;
  }

  .pc {
    display: block !important;
  }
}

@media (max-width: 950px) {
  .container-wrapper main button.btn-support img {
    width: 50px;
  }

  .container-wrapper main button.btn-support {
    right: 40px;
    bottom: 100px;
  }

  .mobile {
    display: block !important;
  }


  .pc {
    display: none !important;
  }

  main .side-bar {
    width: 0;
    overflow: hidden;
  }

  main .side-bar .header-menu-mobile {
    height: 65px;
    padding: 0 20px;
  }

  main .side-bar .header-menu-mobile img[alt=icon-exit] {
    width: 14px;
  }

  main .side-bar .header-menu-mobile img[alt=sidebar-logo-mobile] {
    width: 100px;
  }

  header .header-content {
    position: unset;
    width: 100%;
    max-width: 100%;
    justify-content: space-between !important;
    padding: 0 20px;
  }

  header .header-content img[alt=logo-mobile] {
    width: 30px;
  }

  main .main-home .main-content {
    width: 80%;
    margin: auto;
  }

  main .main-home .main-content .banner-main {
    height: 180px;
    background: unset;
    margin-top: 13px;
    margin-bottom: 60px;
  }

  main .main-home .main-content .banner-main .banner-content {
    padding: 0;
    width: 100%;
  }

  main .main-home .main-content .banner-main .banner-content button {
    position: absolute;
    top: 0;
    left: 10px;
    margin-top: 0;
    width: 142px;
    font-size: 15px;
    line-height: 36px;
    padding: 0;
  }

  main .main-home .main-content .banner-main .banner-content h3 {
    font-size: 22px;
    position: absolute;
    bottom: 55px;
    z-index: 1;
  }

  main .main-home .main-content .banner-main .banner-content h1 {
    font-size: 40px;
    position: absolute;
    bottom: 0;
  }

  main .main-home .main-content .banner-main .list-social {
    position: absolute;
    bottom: -115px;
    left: calc(50% - 57.5px);
  }

  main .main-home .main-content .banner-main .list-social .social-item {
    border-radius: 50%;
    padding: 7px;
    background-color: #e24dff;
  }

  main .main-home .main-content .banner-main .list-social .social-item img {
    width: 11px;
    height: auto;
  }

  main .main-home .main-content .banner-main .list-social .social-item:not(:first-child) {
    margin-left: 20px;
  }

  main .main-home .main-content .big-prize .fire {
    font-size: 8px;
  }

  main .main-home .main-content .big-prize .fire img {
    width: 7px;
  }

  main .main-home .main-content .big-prize .big-item h3 {
    color: #fff;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-transform: capitalize;
  }

  main .main-home .main-content .big-prize .big-item img {
    width: 11px;
  }

  main .main-home .main-content .big-prize .big-item:first-child {
    margin-right: 2px;
  }

  main .main-home .main-content .big-prize .big-item:first-child img {
    width: 13px;
  }

  main .main-home .main-content section.section-list-news .news-item h2 {
    font-size: 13px;
    padding: 10px;
  }

  main .main-home .main-content section.section-list-news .news-item:not(:last-child) {
    margin-bottom: 14px;
  }

  footer {
    border-top: 0;
  }

  footer p {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
  }

  footer .footer-content {
    padding: 0 16px;
  }

  footer .footer-content h4 {
    padding-left: 0;
    font-size: 13px;
    line-height: 32px;
  }

  footer .footer-content .img-box img {
    padding: 6px 4px 0 3px;
    width: 65px;
  }

  footer .footer-content .img-box h5 {
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
  }

  footer .footer-content .footer-contact {
    margin-top: 12px;
    padding: 0;
    flex-direction: column;
  }

  footer .footer-content .footer-contact .line-y {
    display: none;
  }

  footer .footer-content .footer-contact .get-intouch {
    max-width: unset;
  }

  footer .footer-content .footer-contact .follow-contact {
    padding: 0;
  }

  footer .footer-content .footer-contact h3 {
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  footer .footer-content .footer-contact .wrapper-contact {
    border-radius: 6px;
    background: var(--nn-to-trn-1, #381d45);
    padding: 6px 13px 16px 13px;
  }

  footer .footer-content .footer-contact .wrapper-contact h4 {
    color: var(--1, #05e8ff);
    text-align: start;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.566px;
    text-transform: uppercase;
  }

  footer .footer-content .footer-contact .wrapper-contact .list-social {
    margin-top: 13px;
  }

  footer .footer-content .footer-contact .wrapper-contact .list-social .social-item:not(:first-child) {
    margin-left: 14px;
  }

  footer .footer-content .footer-contact .wrapper-contact .list-social .social-item {
    padding: 7px;
  }

  footer .footer-content .footer-contact .wrapper-contact .list-social .social-item img {
    width: 11px;
  }

  footer .footer-content .footer-contact .wrapper-contact h4.hd-email {
    margin-top: 8px;
    margin-bottom: 0;
  }

  footer .footer-content .footer-contact .wrapper-contact .email-info {
    padding-left: 10px;
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.675px;
    text-decoration-line: underline;
  }

  footer .footer-content .footer-contact .wrapper-contact .get-intouch {
    padding: 0;
  }

  footer .footer-content .footer-contact .wrapper-contact .get-intouch input,
  footer .footer-content .footer-contact .wrapper-contact .get-intouch textarea {
    padding: 4px;
    border-radius: 3px;
    color: #9ca3af;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 8px;
  }

  footer .footer-content .footer-contact .wrapper-contact .get-intouch textarea {
    height: 32px;
    margin-bottom: 0;
  }

  footer .footer-content .footer-contact .wrapper-contact .get-intouch h4.message {
    margin-bottom: 2px;
  }

  footer .footer-content .footer-contact .wrapper-contact .get-intouch button {
    font-size: 10px;
    padding: 4px 10px;
  }

  footer .footer-content .footer-info {
    margin-top: 16px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .footer-content .footer-info .box-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  footer .footer-content .footer-info .box-logo img {
    width: 85px;
    height: 28px;
  }

  footer .footer-content .footer-info .box-logo p {
    margin-top: 10px;
    padding: 0;
  }

  footer .footer-content .footer-info .box-logo .list-social {
    display: none !important;
  }

  footer .footer-content .footer-info .wrapp-link {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 40px;
  }

  footer .footer-content .footer-info h4 {
    color: var(--1, #05e8ff);
    text-align: start;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.566px;
    text-transform: uppercase;
  }

  footer .footer-content .footer-info a {
    color: var(--xm, #9e9e9e);
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 10.805px;
  }

  footer .footer-content .footer-info ul li {
    padding-top: 9px;
    text-align: start;
    line-height: 16px;
  }

  footer .footer-content .footer-info .box-docs {
    padding: 0;
  }

  footer .footer-content .footer-info .box-docs {
    border-left: 1px solid #444444;
    height: 100%;
    margin-left: 20px;
  }

  footer .footer-content .footer-info .list-link {
    border-right: 1px solid #444444;
  }

  footer .footer-content .footer-info .get-help {
    padding-left: 16px;
  }

  footer .footer-content .footer-info .box-docs,
  footer .footer-content .footer-info .get-help,
  footer .footer-content .footer-info .list-link {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
  }

  footer .footer-content .footer-info .list-link {
    margin-right: 5px;
  }

  footer .footer-content .footer-info .list-link h4 {
    margin-right: 22px;
  }

  footer .footer-content .footer-info .box-docs h4 {
    margin-right: 53px;
  }

  footer .footer-content .footer-info .get-help {
    text-align: start;
  }

  footer .footer-content .footer-info .get-help .link-faq {
    width: 100%;
    line-height: 35px;
  }

  footer .line-white.top-copy {
    width: 92%;
    margin: 0 auto;
  }

  footer .copy-right {
    opacity: 0.6;
    color: #fff;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-top: 6px;
    margin-bottom: 60px;
  }

  footer .menu-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: linear-gradient(90deg, rgb(34, 29, 69) 17%, rgb(32, 30, 62) 20%, rgb(49, 47, 97) 35%, rgb(54, 50, 104) 40%, rgb(66, 59, 130) 46%, rgb(63, 56, 118) 55%, rgb(61, 50, 106) 67%, rgb(64, 47, 97) 79%, rgb(62, 44, 89) 87%);
    height: 60px;
  }

  footer .menu-bottom .list-feature {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
  }

  footer .menu-bottom .list-feature .menu-feature.w-49 {
    width: 49px;
  }

  footer .menu-bottom .list-feature .menu-feature.wallet {
    width: 51px;
    padding-bottom: 28px;
  }

  footer .menu-bottom .list-feature .menu-feature.wallet img {
    width: 33px;
    height: 37px;
  }

  footer .menu-bottom .list-feature .menu-feature.upgrade {
    width: 45px;
  }

  footer .menu-bottom .list-feature .menu-feature .name-feature {
    color: #d9d9d9;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  footer .menu-bottom img {
    width: 16px;
    margin-bottom: 6px;
  }

  footer .menu-bottom.setting .name-feature.active {
    color: #e275f9;
  }

  footer .menu-bottom.setting img {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
  }
}


@media (max-width: 576px) {
  .container-wrapper main button.btn-support img {
    width: 50px;
  }

  .main-faq .main-content {
    margin-left: 0px !important;
  }

  .container-wrapper main button.btn-support {
    right: 40px !important;
    bottom: 100px !important;
  }

  .mobile {
    display: block !important;
  }

  .main-home .main-content.main-event img[alt=banner-nft] {
    width: 100%;
    height: 150px;
  }

  .main-home .main-content.main-event .info-guide .total-max {
    width: 81%;
  }

  .main-home .main-content.main-event .info-guide .total-max span.total {
    font-size: 15px;
    max-width: 22%;
  }

  .main-home .main-content.main-event .info-guide .total-max span.max {
    font-size: 15px;
    max-width: 50%;

  }

  .main-home .main-content.main-event .info-guide .guide {
    width: 100%;
  }

  .pc {
    display: none !important;
  }

  main .side-bar {
    width: 0;
    overflow: hidden;
  }

  main .side-bar .header-menu-mobile {
    height: 65px;
    padding: 0 20px;
  }

  main .side-bar .header-menu-mobile img[alt=icon-exit] {
    width: 14px;
  }

  main .side-bar .header-menu-mobile img[alt=sidebar-logo-mobile] {
    width: 100px;
  }

  header .header-content {
    position: unset;
    width: 100%;
    justify-content: space-between !important;
  }

  header .header-content img[alt=logo-mobile] {
    width: 30px;
  }

  main .main-home .main-content {
    width: 90%;

  }

  main .main-home .main-content .banner-main {
    height: 180px;
    background: unset;
    margin-top: 13px;
    margin-bottom: 50px;
  }

  main .main-home .main-content .banner-main .banner-content {
    padding: 0;
    width: 100%;
  }

  main .main-home .main-content .banner-main .banner-content button {
    position: absolute;
    top: 0;
    left: 10px;
    margin-top: 0;
    width: 142px;
    font-size: 15px;
    line-height: 36px;
    padding: 0;
  }

  main .main-home .main-content .banner-main .banner-content h3 {
    font-size: 22px;
    position: absolute;
    bottom: -5px;
    z-index: 1;
  }

  main .main-home .main-content .banner-main .banner-content h1 {
    font-size: 40px;
    position: absolute;
    bottom: -60px;
    z-index: 99;
  }

  main .main-home .main-content .banner-main .list-social {
    position: absolute;
    bottom: -70px;
    left: calc(50% - 57.5px);
  }

  main .main-home .main-content .banner-main .list-social .social-item {
    border-radius: 50%;
    padding: 7px;
    background-color: #e24dff;
  }

  main .main-home .main-content .banner-main .list-social .social-item img {
    width: 11px;
    height: auto;
  }

  main .main-home .main-content .banner-main .list-social .social-item:not(:first-child) {
    margin-left: 20px;
  }

  main .main-home .main-content .big-prize .fire {
    font-size: 8px;
  }

  main .main-home .main-content .big-prize .fire img {
    width: 7px;
  }

  main .main-home .main-content .big-prize .big-item h3 {
    color: #fff;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-transform: capitalize;
  }

  main .main-home .main-content .big-prize .big-item img {
    width: 11px;
  }

  main .main-home .main-content .big-prize .big-item:first-child {
    margin-right: 2px;
  }

  main .main-home .main-content .big-prize .big-item:first-child img {
    width: 13px;
  }

  main .main-home .main-content section.section-list-news .news-item h2 {
    font-size: 13px;
    padding: 10px;
  }

  main .main-home .main-content section.section-list-news .news-item:not(:last-child) {
    margin-bottom: 14px;
  }

  footer {
    border-top: 0;
  }

  footer p {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
  }

  footer .footer-content {
    padding: 0 16px;
  }

  footer .footer-content h4 {
    padding-left: 0;
    font-size: 13px;
    line-height: 32px;
  }

  footer .footer-content .img-box img {
    padding: 6px 4px 0 3px;
    width: 65px;
  }

  footer .footer-content .img-box h5 {
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
  }

  footer .footer-content .footer-contact {
    margin-top: 12px;
    padding: 0;
    flex-direction: column;
  }

  footer .footer-content .footer-contact .line-y {
    display: none;
  }

  footer .footer-content .footer-contact .get-intouch {
    max-width: unset;
  }

  footer .footer-content .footer-contact .follow-contact {
    padding: 0;
  }

  footer .footer-content .footer-contact h3 {
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  footer .footer-content .footer-contact .wrapper-contact {
    border-radius: 6px;
    background: var(--nn-to-trn-1, #381d45);
    padding: 6px 13px 16px 13px;
  }

  footer .footer-content .footer-contact .wrapper-contact h4 {
    color: var(--1, #05e8ff);
    text-align: start;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.566px;
    text-transform: uppercase;
  }

  footer .footer-content .footer-contact .wrapper-contact .list-social {
    margin-top: 13px;
  }

  footer .footer-content .footer-contact .wrapper-contact .list-social .social-item:not(:first-child) {
    margin-left: 14px;
  }

  footer .footer-content .footer-contact .wrapper-contact .list-social .social-item {
    padding: 7px;
  }

  footer .footer-content .footer-contact .wrapper-contact .list-social .social-item img {
    width: 11px;
  }

  footer .footer-content .footer-contact .wrapper-contact h4.hd-email {
    margin-top: 8px;
    margin-bottom: 0;
  }

  footer .footer-content .footer-contact .wrapper-contact .email-info {
    padding-left: 10px;
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.675px;
    text-decoration-line: underline;
  }

  footer .footer-content .footer-contact .wrapper-contact .get-intouch {
    padding: 0;
  }

  footer .footer-content .footer-contact .wrapper-contact .get-intouch input,
  footer .footer-content .footer-contact .wrapper-contact .get-intouch textarea {
    padding: 4px;
    border-radius: 3px;
    color: #9ca3af;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 8px;
  }

  footer .footer-content .footer-contact .wrapper-contact .get-intouch textarea {
    height: 32px;
    margin-bottom: 0;
  }

  footer .footer-content .footer-contact .wrapper-contact .get-intouch h4.message {
    margin-bottom: 2px;
  }

  footer .footer-content .footer-contact .wrapper-contact .get-intouch button {
    font-size: 10px;
    padding: 4px 10px;
  }

  footer .footer-content .footer-info {
    margin-top: 16px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .footer-content .footer-info .box-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  footer .footer-content .footer-info .box-logo img {
    width: 85px;
    height: 28px;
  }

  footer .footer-content .footer-info .box-logo p {
    margin-top: 10px;
    padding: 0;
  }

  footer .footer-content .footer-info .box-logo .list-social {
    display: none !important;
  }

  footer .footer-content .footer-info .wrapp-link {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 40px;
  }

  footer .footer-content .footer-info h4 {
    color: var(--1, #05e8ff);
    text-align: start;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.566px;
    text-transform: uppercase;
  }

  footer .footer-content .footer-info a {
    color: var(--xm, #9e9e9e);
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 10.805px;
  }

  footer .footer-content .footer-info ul li {
    padding-top: 9px;
    text-align: start;
    line-height: 16px;
  }

  footer .footer-content .footer-info .box-docs {
    padding: 0;
  }

  footer .footer-content .footer-info .box-docs {
    border-left: 1px solid #444444;
    height: 100%;
    margin-left: 20px;
  }

  footer .footer-content .footer-info .list-link {
    border-right: 1px solid #444444;
  }

  footer .footer-content .footer-info .get-help {
    padding-left: 16px;
  }

  footer .footer-content .footer-info .box-docs,
  footer .footer-content .footer-info .get-help,
  footer .footer-content .footer-info .list-link {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
  }

  footer .footer-content .footer-info .list-link {
    margin-right: 5px;
  }

  footer .footer-content .footer-info .list-link h4 {
    margin-right: 22px;
  }

  footer .footer-content .footer-info .box-docs h4 {
    margin-right: 53px;
  }

  footer .footer-content .footer-info .get-help {
    text-align: start;
  }

  footer .footer-content .footer-info .get-help .link-faq {
    width: 100%;
    line-height: 35px;
  }

  footer .line-white.top-copy {
    width: 92%;
    margin: 0 auto;
  }

  footer .copy-right {
    opacity: 0.6;
    color: #fff;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-top: 6px;
    margin-bottom: 60px;
  }

  footer .menu-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: linear-gradient(90deg, rgb(34, 29, 69) 17%, rgb(32, 30, 62) 20%, rgb(49, 47, 97) 35%, rgb(54, 50, 104) 40%, rgb(66, 59, 130) 46%, rgb(63, 56, 118) 55%, rgb(61, 50, 106) 67%, rgb(64, 47, 97) 79%, rgb(62, 44, 89) 87%);
    height: 60px;
  }

  footer .menu-bottom .list-feature {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
  }

  footer .menu-bottom .list-feature .menu-feature.w-49 {
    width: 49px;
  }

  footer .menu-bottom .list-feature .menu-feature.wallet {
    width: 51px;
    padding-bottom: 28px;
  }

  footer .menu-bottom .list-feature .menu-feature.wallet img {
    width: 33px;
    height: 37px;
  }

  footer .menu-bottom .list-feature .menu-feature.upgrade {
    width: 45px;
  }

  footer .menu-bottom .list-feature .menu-feature .name-feature {
    color: #d9d9d9;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  footer .menu-bottom img {
    width: 16px;
    margin-bottom: 6px;
  }

  footer .menu-bottom.setting .name-feature.active {
    color: #e275f9;
  }

  footer .menu-bottom.setting img {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
  }
}

@media (max-width: 360px) {
  main .main-home .main-content .banner-main .banner-content h3 {
    font-size: 21px;
    position: absolute;
    bottom: -3px;
    z-index: 1;
  }

  main .main-home .main-content .banner-main .banner-content h1 {
    font-size: 38px;
    position: absolute;
    bottom: -57px;
    z-index: 99;
  }

  main .main-home .main-content .banner-main .list-social {
    position: absolute;
    bottom: -69px;
    left: calc(50% - 57.5px);
  }

}

@media (max-width: 280px) {
  main .main-home .main-content .banner-main .banner-content h3 {
    font-size: 17px;
    position: absolute;
    bottom: 25px;
    z-index: 1;
  }

  main .main-home .main-content .banner-main .banner-content h1 {
    font-size: 30px;
    position: absolute;
    bottom: -23px;
    z-index: 99;
  }

  main .main-home .main-content .banner-main .list-social {
    position: absolute;
    bottom: -36px;
    left: calc(50% - 57.5px);
  }
}