.transaction-detail {
  margin-top: 10px !important;
  max-width: 546px;
  margin: 0 auto;

}

.transaction-detail2 {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.transaction-modal {

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 400px;
  /* Adjust as needed */
}

.transaction-detail-content {
  background-color: #291a3a;
  padding: 20px;
}

.transaction-detail-currency img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96px;
}

.transaction-detail-currency div {
  display: flex;
  justify-content: center;
}

.transaction-detail-currency p {
  margin-right: 3px;
  color: var(--text, #e275f9);
  font-size: 24px;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
  font-style: normal;
}

.transaction-detail-currency span {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 15px;
  text-transform: capitalize;
  font-style: normal;
}

.transaction-detail-info {
  margin: 20px;
}

.transaction-detail-info div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-detail-info p {
  padding: 10px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
  font-style: normal;
}

.transaction-detail-info img {
  width: 13px;
  height: 14px;
}

.transaction-detail-info span {
  color: var(--xm, #9e9e9e);
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
  font-style: normal;
}

.transaction-detail-info #status {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
  font-style: normal;
}